
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              صندوق الجزاءات
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "sanctionsFundForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ تقديم الطلب</mat-label>
	 <input matInput
	  [matDatepicker] = "demandDateDatepicker"
	  autocomplete = "off"
	  formControlName= "demandDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="demandDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #demandDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('demandDate').invalid" >
	  {{ getControls('demandDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الوفاة</mat-label>
	 <input matInput
	  [matDatepicker] = "deathDateDatepicker"
	  autocomplete = "off"
	  formControlName= "deathDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="deathDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #deathDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('deathDate').invalid" >
	  {{ getControls('deathDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المبلغ</mat-label>
	 <input matInput formControlName="amount"/>
	 <mat-error *ngIf = "getControls('amount').invalid" >
	  {{ getControls('amount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المتوفي</mat-label>
	 <input matInput formControlName="dietName"  [disableControl]="false" />
	 <mat-error *ngIf = "getControls('dietName').invalid" >
	  {{ getControls('dietName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المستلم</mat-label>
	 <input matInput formControlName="receiverName"/>
	 <mat-error *ngIf = "getControls('receiverName').invalid" >
	  {{ getControls('receiverName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #deathCode 
	  [options] = "deathCodeSelectOptions"
	  formControlName = "deathCode"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "sanctionsFundService" [id]="sanctionsFundForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    