
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              كود النشاط المختلف للشركات المعتمده
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "codeOfVariousActivityOfApprovedCompaniesForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود النشاط</mat-label>
	 <input matInput formControlName="activityCode"/>
	 <mat-error *ngIf = "getControls('activityCode').invalid" >
	  {{ getControls('activityCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسمي النشاط</mat-label>
	 <input matInput formControlName="activityName"/>
	 <mat-error *ngIf = "getControls('activityName').invalid" >
	  {{ getControls('activityName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "codeOfVariousActivityOfApprovedCompaniesService" [id]="codeOfVariousActivityOfApprovedCompaniesForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    