
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'كود المادة الفرعية'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "subcategoryCodeForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المادة الفرعية</mat-label>
	 <input matInput formControlName="subMaterialCode"/>
	 <mat-error *ngIf = "getControls('subMaterialCode').invalid" >
	  {{ getControls('subMaterialCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المادة الفرعية</mat-label>
	 <input matInput formControlName="subMaterialName"/>
	 <mat-error *ngIf = "getControls('subMaterialName').invalid" >
	  {{ getControls('subMaterialName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "subcategoryCodeService" [id]="subcategoryCodeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="subcategoryCodeForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

