
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'ارتجاع عهدة موظف'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "returnOfCustodyOfAnEmployeeForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>رقم المخزن </mat-label>
	 <input matInput formControlName="storeNumber"/>
	 <mat-error *ngIf = "getControls('storeNumber').invalid" >
	  {{ getControls('storeNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الصنف </mat-label>
	 <input matInput formControlName="itemNo"/>
	 <mat-error *ngIf = "getControls('itemNo').invalid" >
	  {{ getControls('itemNo')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم اذن الصرف </mat-label>
	 <input matInput formControlName="authorizationNumber" [disableControl]="false" />
	 <mat-error *ngIf = "getControls('authorizationNumber').invalid" >
	  {{ getControls('authorizationNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الصرف</mat-label>
	 <input matInput
	 [disableControl]="false" 
	  [matDatepicker] = "exchangeDateDatepicker"
	  autocomplete = "off"
	  formControlName= "exchangeDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="exchangeDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #exchangeDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('exchangeDate').invalid" >
	  {{ getControls('exchangeDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الكمية الصرف  </mat-label>
	 <input matInput formControlName="quantityExchange" [disableControl]="false" />
	 <mat-error *ngIf = "getControls('quantityExchange').invalid" >
	  {{ getControls('quantityExchange')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الارتجاع  </mat-label>
	 <input matInput
	  [matDatepicker] = "returnDateDatepicker"
	  autocomplete = "off"
	  formControlName= "returnDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="returnDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #returnDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('returnDate').invalid" >
	  {{ getControls('returnDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم اذن الاضافة   </mat-label>
	 <input matInput formControlName="addPermissionNumber"/>
	 <mat-error *ngIf = "getControls('addPermissionNumber').invalid" >
	  {{ getControls('addPermissionNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الكمية الارتجاع </mat-label>
	 <input matInput formControlName="returnQuantity"/>
	 <mat-error *ngIf = "getControls('returnQuantity').invalid" >
	  {{ getControls('returnQuantity')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الصنف  </mat-label>
	 <input matInput formControlName="itemCode"/>
	 <mat-error *ngIf = "getControls('itemCode').invalid" >
	  {{ getControls('itemCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الصنف</mat-label>
	 <input matInput formControlName="productName" [disableControl]="false" />
	 <mat-error *ngIf = "getControls('productName').invalid" >
	  {{ getControls('productName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> الكمية </mat-label>
	 <input matInput formControlName="quantity" [disableControl]="false" />
	 <mat-error *ngIf = "getControls('quantity').invalid" >
	  {{ getControls('quantity')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>السعر</mat-label>
	 <input matInput formControlName="price" [disableControl]="false" />
	 <mat-error *ngIf = "getControls('price').invalid" >
	  {{ getControls('price')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline" [disabled]="true" 
	  #itemCondition 
	  [options] = "itemConditionSelectOptions"
	  formControlName = "itemCondition"
	></app-material-select>
 

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "returnOfCustodyOfAnEmployeeService" [id]="returnOfCustodyOfAnEmployeeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="returnOfCustodyOfAnEmployeeForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

