
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'كلمة سر للمهندس المشرف'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم المهندس المختص</mat-label>
	 <input matInput formControlName="specializedEngineerNumber"/>
	 <mat-error *ngIf = "getControls('specializedEngineerNumber').invalid" >
	  {{ getControls('specializedEngineerNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كلمة المرور</mat-label>
	 <input matInput formControlName="password"/>
	 <mat-error *ngIf = "getControls('password').invalid" >
	  {{ getControls('password')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getPasswordForTheSupervisorEngineersPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
