
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات وحدة الوزارة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم الوحدة</mat-label>
	 <input matInput formControlName="unitCode"/>
	 <mat-error *ngIf = "getControls('unitCode').invalid" >
	  {{ getControls('unitCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الوحدة</mat-label>
	 <input matInput formControlName="unitName"/>
	 <mat-error *ngIf = "getControls('unitName').invalid" >
	  {{ getControls('unitName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عنوان الوحدة</mat-label>
	 <input matInput formControlName="unitAddress"/>
	 <mat-error *ngIf = "getControls('unitAddress').invalid" >
	  {{ getControls('unitAddress')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المقر</mat-label>
	 <input matInput formControlName="headquarters"/>
	 <mat-error *ngIf = "getControls('headquarters').invalid" >
	  {{ getControls('headquarters')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #ministryType 
	  [options] = "ministryTypeSelectOptions"
	  formControlName = "ministryType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #departmentCode 
	  [options] = "departmentCodeSelectOptions"
	  formControlName = "departmentCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #unitType 
	  [options] = "unitTypeSelectOptions"
	  formControlName = "unitType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getMinistryUnitDataPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
