
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'اكواد الخدمات الخارجية وتكلفتها'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود الخدمة</mat-label>
	 <input matInput formControlName="serviceCode"/>
	 <mat-error *ngIf = "getControls('serviceCode').invalid" >
	  {{ getControls('serviceCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الخدمة</mat-label>
	 <input matInput formControlName="serviceName"/>
	 <mat-error *ngIf = "getControls('serviceName').invalid" >
	  {{ getControls('serviceName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نسبة تكلفة التصنيف الاول</mat-label>
	 <input matInput formControlName="firstClassificationCostRatio"/>
	 <mat-error *ngIf = "getControls('firstClassificationCostRatio').invalid" >
	  {{ getControls('firstClassificationCostRatio')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نسبة تكلفة التصنيف  الثاني</mat-label>
	 <input matInput formControlName="secondClassificationCostRatio"/>
	 <mat-error *ngIf = "getControls('secondClassificationCostRatio').invalid" >
	  {{ getControls('secondClassificationCostRatio')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نسبة تكلفة التصنيف  الثالث</mat-label>
	 <input matInput formControlName="thirdClassificationCostRatio"/>
	 <mat-error *ngIf = "getControls('thirdClassificationCostRatio').invalid" >
	  {{ getControls('thirdClassificationCostRatio')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getExternalServicesCodesAndCostPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
