
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              رد الجهة علي التاشيرة
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "respondToVisaForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ النشر</mat-label>
	 <input matInput
	  [matDatepicker] = "publicationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "publicationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="publicationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #publicationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('publicationDate').invalid" >
	  {{ getControls('publicationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الرد</mat-label>
	 <input matInput
	  [matDatepicker] = "replyDateDatepicker"
	  autocomplete = "off"
	  formControlName= "replyDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="replyDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #replyDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('replyDate').invalid" >
	  {{ getControls('replyDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود القائم بالرد</mat-label>
	 <input matInput formControlName="replierCode"/>
	 <mat-error *ngIf = "getControls('replierCode').invalid" >
	  {{ getControls('replierCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>هل توجد مرفقات</mat-label>
	 <input matInput formControlName="hasAttachments"/>
	 <mat-error *ngIf = "getControls('hasAttachments').invalid" >
	  {{ getControls('hasAttachments')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل</mat-label>
	 <input matInput formControlName="serial"/>
	 <mat-error *ngIf = "getControls('serial').invalid" >
	  {{ getControls('serial')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نص الرد</mat-label>
	 <input matInput formControlName="replyText"/>
	 <mat-error *ngIf = "getControls('replyText').invalid" >
	  {{ getControls('replyText')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #publisherCode 
	  [options] = "publisherCodeSelectOptions"
	  formControlName = "publisherCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #publicationCodePlace 
	  [options] = "publicationCodePlaceSelectOptions"
	  formControlName = "publicationCodePlace"
	></app-material-select>

	<app-material-select appearance="outline"
	  #entityTypeCode 
	  [options] = "entityTypeCodeSelectOptions"
	  formControlName = "entityTypeCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #replyCode 
	  [options] = "replyCodeSelectOptions"
	  formControlName = "replyCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #entityReplyCode 
	  [options] = "entityReplyCodeSelectOptions"
	  formControlName = "entityReplyCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #orderTypeCode 
	  [options] = "orderTypeCodeSelectOptions"
	  formControlName = "orderTypeCode"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "respondToVisaService" [id]="respondToVisaForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    