
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'بيانات مخزن'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "dataStoreForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>رقم المخزن   </mat-label>
	 <input matInput formControlName="storeNumber"/>
	 <mat-error *ngIf = "getControls('storeNumber').invalid" >
	  {{ getControls('storeNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المخزن   </mat-label>
	 <input matInput formControlName="storeName"/>
	 <mat-error *ngIf = "getControls('storeName').invalid" >
	  {{ getControls('storeName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>امين المخزن </mat-label>
	 <input matInput formControlName="storekeeper"/>
	 <mat-error *ngIf = "getControls('storekeeper').invalid" >
	  {{ getControls('storekeeper')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> عنوان المخزن</mat-label>
	 <input matInput formControlName="storeAddress"/>
	 <mat-error *ngIf = "getControls('storeAddress').invalid" >
	  {{ getControls('storeAddress')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "dataStoreService" [id]="dataStoreForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="dataStoreForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

