
<mat-card>
    <mat-card-header>
        <mat-card-title>اسم المصنع للطلب</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="factoryNameForOrderForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم الطلب</mat-label>
	 <input matInput formControlName="orderNumber"/>
	 <mat-error *ngIf = "getControls('orderNumber').invalid" >
	  {{ getControls('orderNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المصنع</mat-label>
	 <input matInput formControlName="factoryName"/>
	 <mat-error *ngIf = "getControls('factoryName').invalid" >
	  {{ getControls('factoryName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "factoryNameForOrderService" [id]="factoryNameForOrderForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "factoryNameForOrderForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

