
<mat-card>
    <mat-card-header>
        <mat-card-title>حركة الارقام القياسية للمواد</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="theMovementOfMaterialIndicesForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ بداية الحركة</mat-label>
	 <input matInput
	  [matDatepicker] = "startDateForMovementDatepicker"
	  autocomplete = "off"
	  formControlName= "startDateForMovement"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="startDateForMovementDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #startDateForMovementDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('startDateForMovement').invalid" >
	  {{ getControls('startDateForMovement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ نهاية الحركة</mat-label>
	 <input matInput
	  [matDatepicker] = "endDateForMovementDatepicker"
	  autocomplete = "off"
	  formControlName= "endDateForMovement"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="endDateForMovementDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #endDateForMovementDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('endDateForMovement').invalid" >
	  {{ getControls('endDateForMovement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الرقم القياسي</mat-label>
	 <input matInput formControlName="standardNumber"/>
	 <mat-error *ngIf = "getControls('standardNumber').invalid" >
	  {{ getControls('standardNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #elementCode 
	  [options] = "elementCodeSelectOptions"
	  formControlName = "elementCode"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "theMovementOfMaterialIndicesService" [id]="theMovementOfMaterialIndicesForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "theMovementOfMaterialIndicesForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

