
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'اكواد سبب انهاء اسناد محامي لقضية'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "codesOfReasonForTerminationForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>الكود</mat-label>
	 <input matInput formControlName="code"/>
	 <mat-error *ngIf = "getControls('code').invalid" >
	  {{ getControls('code')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الاسم</mat-label>
	 <input matInput formControlName="name"/>
	 <mat-error *ngIf = "getControls('name').invalid" >
	  {{ getControls('name')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "codesOfReasonForTerminationService" [id]="codesOfReasonForTerminationForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="codesOfReasonForTerminationForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

