
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'مدارس لا تحتاج الي وثيقة تامين'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم المكاتبة</mat-label>
	 <input matInput formControlName="theNumberOfTheLetter"/>
	 <mat-error *ngIf = "getControls('theNumberOfTheLetter').invalid" >
	  {{ getControls('theNumberOfTheLetter')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المدرسة</mat-label>
	 <input matInput formControlName="schoolNumber"/>
	 <mat-error *ngIf = "getControls('schoolNumber').invalid" >
	  {{ getControls('schoolNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الملحق</mat-label>
	 <input matInput formControlName="annexNumber"/>
	 <mat-error *ngIf = "getControls('annexNumber').invalid" >
	  {{ getControls('annexNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم النموذج</mat-label>
	 <input matInput formControlName="modelNumber"/>
	 <mat-error *ngIf = "getControls('modelNumber').invalid" >
	  {{ getControls('modelNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عدد الادوار</mat-label>
	 <input matInput formControlName="numberOfFloors"/>
	 <mat-error *ngIf = "getControls('numberOfFloors').invalid" >
	  {{ getControls('numberOfFloors')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getSchoolsDoNotNeedInsurancePaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
