
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              كود المادة الفرعية
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "subcategoryCodeForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المادة الفرعية</mat-label>
	 <input matInput formControlName="subMaterialCode"/>
	 <mat-error *ngIf = "getControls('subMaterialCode').invalid" >
	  {{ getControls('subMaterialCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المادة الفرعية</mat-label>
	 <input matInput formControlName="subMaterialName"/>
	 <mat-error *ngIf = "getControls('subMaterialName').invalid" >
	  {{ getControls('subMaterialName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "subcategoryCodeService" [id]="subcategoryCodeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    