
<mat-card>
    <mat-card-header>
        <mat-card-title>علاوات موظف</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="employeeBonusForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قيمه  العلاوة</mat-label>
	 <input matInput formControlName="bounceAmount"/>
	 <mat-error *ngIf = "getControls('bounceAmount').invalid" >
	  {{ getControls('bounceAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #bounceType 
	  [options] = "bounceTypeSelectOptions"
	  formControlName = "bounceType"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "employeeBonusService" [id]="employeeBonusForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "employeeBonusForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

