
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'الجداول الزمنية للتنفيذ (أنشطة الجداول الزمنية)'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "implementationActivityScheduleForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الجدول الزمني</mat-label>
	 <input matInput formControlName="scheduleCode"/>
	 <mat-error *ngIf = "getControls('scheduleCode').invalid" >
	  {{ getControls('scheduleCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم النشاط</mat-label>
	 <input matInput formControlName="activity"/>
	 <mat-error *ngIf = "getControls('activity').invalid" >
	  {{ getControls('activity')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>بداية الايام</mat-label>
	 <input matInput formControlName="daysStart"/>
	 <mat-error *ngIf = "getControls('daysStart').invalid" >
	  {{ getControls('daysStart')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مدة النشاط</mat-label>
	 <input matInput formControlName="activityDuration"/>
	 <mat-error *ngIf = "getControls('activityDuration').invalid" >
	  {{ getControls('activityDuration')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "implementationActivityScheduleService" [id]="implementationActivityScheduleForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="implementationActivityScheduleForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

