
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'حساب فواتير اتصالات'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label> شهر الدين</mat-label>
	 <input matInput
	  [matDatepicker] = "monthDebtDatepicker"
	  autocomplete = "off"
	  formControlName= "monthDebt"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="monthDebtDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #monthDebtDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('monthDebt').invalid" >
	  {{ getControls('monthDebt')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الفتره من </mat-label>
	 <input matInput
	  [matDatepicker] = "periodOfDatepicker"
	  autocomplete = "off"
	  formControlName= "periodOf"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="periodOfDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #periodOfDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('periodOf').invalid" >
	  {{ getControls('periodOf')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> الفتره الي </mat-label>
	 <input matInput
	  [matDatepicker] = "periodToDatepicker"
	  autocomplete = "off"
	  formControlName= "periodTo"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="periodToDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #periodToDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('periodTo').invalid" >
	  {{ getControls('periodTo')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getEtisalatBillingAccountPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
