
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات المعامل بالمدرسة</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="schoolLabForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المعمل</mat-label>
	 <input matInput formControlName="laboratoryNumber"/>
	 <mat-error *ngIf = "getControls('laboratoryNumber').invalid" >
	  {{ getControls('laboratoryNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #buildingType 
	  [options] = "buildingTypeSelectOptions"
	  formControlName = "buildingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #areaCode 
	  [options] = "areaCodeSelectOptions"
	  formControlName = "areaCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #laboratoryType 
	  [options] = "laboratoryTypeSelectOptions"
	  formControlName = "laboratoryType"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "schoolLabService" [id]="schoolLabForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "schoolLabForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

