
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "' بيانات عناصر البنود الاساسية '"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>بيان العنصر</mat-label>
	 <input matInput formControlName="itemStatment"/>
	 <mat-error *ngIf = "getControls('itemStatment').invalid" >
	  {{ getControls('itemStatment')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنه التسعير</mat-label>
	 <input matInput
	  [matDatepicker] = "pricingYearDatepicker"
	  autocomplete = "off"
	  formControlName= "pricingYear"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="pricingYearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #pricingYearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('pricingYear').invalid" >
	  {{ getControls('pricingYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اول سعر</mat-label>
	 <input matInput formControlName="firstPrice"/>
	 <mat-error *ngIf = "getControls('firstPrice').invalid" >
	  {{ getControls('firstPrice')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #groupCode 
	  [options] = "groupCodeSelectOptions"
	  formControlName = "groupCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #pricingType 
	  [options] = "pricingTypeSelectOptions"
	  formControlName = "pricingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #measuringUnit 
	  [options] = "measuringUnitSelectOptions"
	  formControlName = "measuringUnit"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getDataElementsOfBasicItemsPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
