
<mat-card>
    <mat-card-header>
        <mat-card-title>استمارات البيع</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="salesFormsForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم المدرسة</mat-label>
	 <input matInput formControlName="schoolNumber"/>
	 <mat-error *ngIf = "getControls('schoolNumber').invalid" >
	  {{ getControls('schoolNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الاستمارة</mat-label>
	 <input matInput formControlName="formNumber"/>
	 <mat-error *ngIf = "getControls('formNumber').invalid" >
	  {{ getControls('formNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم صاحب الشان</mat-label>
	 <input matInput formControlName="nameOfTheOwner"/>
	 <mat-error *ngIf = "getControls('nameOfTheOwner').invalid" >
	  {{ getControls('nameOfTheOwner')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مشهر برقم</mat-label>
	 <input matInput formControlName="famousForNumber"/>
	 <mat-error *ngIf = "getControls('famousForNumber').invalid" >
	  {{ getControls('famousForNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ</mat-label>
	 <input matInput
	  [matDatepicker] = "dateDatepicker"
	  autocomplete = "off"
	  formControlName= "date"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('date').invalid" >
	  {{ getControls('date')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المساحة</mat-label>
	 <input matInput formControlName="space"/>
	 <mat-error *ngIf = "getControls('space').invalid" >
	  {{ getControls('space')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>القيمة</mat-label>
	 <input matInput formControlName="theValue"/>
	 <mat-error *ngIf = "getControls('theValue').invalid" >
	  {{ getControls('theValue')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #typeOfForm 
	  [options] = "typeOfFormSelectOptions"
	  formControlName = "typeOfForm"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "salesFormsService" [id]="salesFormsForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "salesFormsForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

