
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
               تصويب بيانات فراغات المبني التعليمي فرع القاهره
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "correctionDataSpacesOfTheEducationalBuildingCairoBranchForm" class="form-container">
         
         

	<app-material-select appearance="outline"
	  #governorate 
	  [options] = "governorateSelectOptions"
	  formControlName = "governorate"
	></app-material-select>

	<app-material-select appearance="outline"
	  #department 
	  [options] = "departmentSelectOptions"
	  formControlName = "department"
	></app-material-select>

	<app-material-select appearance="outline"
	  #stage 
	  [options] = "stageSelectOptions"
	  formControlName = "stage"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "correctionDataSpacesOfTheEducationalBuildingCairoBranchService" [id]="correctionDataSpacesOfTheEducationalBuildingCairoBranchForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    