
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'اسعار الحديد - الاسمنت على قائمة الاسعار'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>سنة التسعير</mat-label>
	 <input matInput formControlName="pricingYear"/>
	 <mat-error *ngIf = "getControls('pricingYear').invalid" >
	  {{ getControls('pricingYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>السعر</mat-label>
	 <input matInput formControlName="price"/>
	 <mat-error *ngIf = "getControls('price').invalid" >
	  {{ getControls('price')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #materialType 
	  [options] = "materialTypeSelectOptions"
	  formControlName = "materialType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getSteelPricesCementOnThePriceListPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
