
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              جهه الاعتماد
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "accreditationForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الاعتماد</mat-label>
	 <input matInput formControlName="accreditationCode"/>
	 <mat-error *ngIf = "getControls('accreditationCode').invalid" >
	  {{ getControls('accreditationCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الاعتماد</mat-label>
	 <input matInput formControlName="accreditationName"/>
	 <mat-error *ngIf = "getControls('accreditationName').invalid" >
	  {{ getControls('accreditationName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "accreditationService" [id]="accreditationForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    