
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'مصدر التمويل لمكون مشورع خطة سنوية'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رمز المصدر</mat-label>
	 <input matInput formControlName="sourceCode"/>
	 <mat-error *ngIf = "getControls('sourceCode').invalid" >
	  {{ getControls('sourceCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  سنة الخطة</mat-label>
	 <input matInput
	  [matDatepicker] = "yearPlanDatepicker"
	  autocomplete = "off"
	  formControlName= "yearPlan"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="yearPlanDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #yearPlanDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('yearPlan').invalid" >
	  {{ getControls('yearPlan')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  رمز مشروع خطة</mat-label>
	 <input matInput formControlName="projectPlanCode"/>
	 <mat-error *ngIf = "getControls('projectPlanCode').invalid" >
	  {{ getControls('projectPlanCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #componentCode 
	  [options] = "componentCodeSelectOptions"
	  formControlName = "componentCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getTheSourceOfFundingForAnAnnualPlanProjectComponentPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
