
<mat-card>
    <mat-card-header>
        <mat-card-title>نوع الوظيفة الخارجية</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="externalJobTypeForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود الوظيفة الخارجية</mat-label>
	 <input matInput formControlName="eexternaljobcode"/>
	 <mat-error *ngIf = "getControls('eexternaljobcode').invalid" >
	  {{ getControls('eexternaljobcode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الوظيفة الخارجية</mat-label>
	 <input matInput formControlName="externaljobname"/>
	 <mat-error *ngIf = "getControls('externaljobname').invalid" >
	  {{ getControls('externaljobname')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "externalJobTypeService" [id]="externalJobTypeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "externalJobTypeForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

