
<mat-card>
    <mat-card-header>
        <mat-card-title>استخراج كود الكارت المؤقت للفرع والمناطق</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="extractionOfTemporaryCardCodeForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم الكارت الؤقت</mat-label>
	 <input matInput formControlName="temporaryCardNumber"/>
	 <mat-error *ngIf = "getControls('temporaryCardNumber').invalid" >
	  {{ getControls('temporaryCardNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اصدار الرقم المؤقت</mat-label>
	 <input matInput formControlName="temporaryNumberIssuing"/>
	 <mat-error *ngIf = "getControls('temporaryNumberIssuing').invalid" >
	  {{ getControls('temporaryNumberIssuing')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #cardCode 
	  [options] = "cardCodeSelectOptions"
	  formControlName = "cardCode"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "extractionOfTemporaryCardCodeService" [id]="extractionOfTemporaryCardCodeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "extractionOfTemporaryCardCodeForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

