
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'بيانات اختبار عينة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "sampleTestDataForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المادة الأساسية </mat-label>
	 <input matInput formControlName="basicMaterialCode"/>
	 <mat-error *ngIf = "getControls('basicMaterialCode').invalid" >
	  {{ getControls('basicMaterialCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> كود لمادة الفرعية</mat-label>
	 <input matInput formControlName="subMaterialCode"/>
	 <mat-error *ngIf = "getControls('subMaterialCode').invalid" >
	  {{ getControls('subMaterialCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الاختبار</mat-label>
	 <input matInput formControlName="testCode"/>
	 <mat-error *ngIf = "getControls('testCode').invalid" >
	  {{ getControls('testCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم بيان الاختبار</mat-label>
	 <input matInput formControlName="statementTestingName" [disableControl]="true" />
	 <mat-error *ngIf = "getControls('statementTestingName').invalid" >
	  {{ getControls('statementTestingName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قيمة بيان لاتزيد عن</mat-label>
	 <input matInput formControlName="statementValueNoMoreThan"/>
	 <mat-error *ngIf = "getControls('statementValueNoMoreThan').invalid" >
	  {{ getControls('statementValueNoMoreThan')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قيمة بيان لاتقل عن</mat-label>
	 <input matInput formControlName="statementValueNotLessThan"/>
	 <mat-error *ngIf = "getControls('statementValueNotLessThan').invalid" >
	  {{ getControls('statementValueNotLessThan')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #measruingUnit 
	  [options] = "measruingUnitSelectOptions"
	  formControlName = "measruingUnit"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "sampleTestDataService" [id]="sampleTestDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="sampleTestDataForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

