
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'شاشة ادخال الرقم لتخليق الرقم التعريفي'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>الرقم</mat-label>
	 <input matInput formControlName="number"/>
	 <mat-error *ngIf = "getControls('number').invalid" >
	  {{ getControls('number')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تحقق الخانة</mat-label>
	 <input matInput formControlName="checkDigit"/>
	 <mat-error *ngIf = "getControls('checkDigit').invalid" >
	  {{ getControls('checkDigit')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getNumberToCreateIDPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
