
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              بيانات نزع الملكية قبل قرار رئيس الوزراء
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "expropriationDataBeforeThePrimeMinisterDecisionForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المساحة</mat-label>
	 <input matInput formControlName="space"/>
	 <mat-error *ngIf = "getControls('space').invalid" >
	  {{ getControls('space')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المساحة قبل التنظيم</mat-label>
	 <input matInput formControlName="spaceBeforeRegulation"/>
	 <mat-error *ngIf = "getControls('spaceBeforeRegulation').invalid" >
	  {{ getControls('spaceBeforeRegulation')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المساحة بعد التنظيم</mat-label>
	 <input matInput formControlName="spaceAfterOrganization"/>
	 <mat-error *ngIf = "getControls('spaceAfterOrganization').invalid" >
	  {{ getControls('spaceAfterOrganization')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>موقف الاستخدام</mat-label>
	 <input matInput formControlName="usePosition"/>
	 <mat-error *ngIf = "getControls('usePosition').invalid" >
	  {{ getControls('usePosition')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ تقرير استشاري المساحة</mat-label>
	 <input matInput
	  [matDatepicker] = "dateOfTheConsultantSurveyReportDatepicker"
	  autocomplete = "off"
	  formControlName= "dateOfTheConsultantSurveyReport"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateOfTheConsultantSurveyReportDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateOfTheConsultantSurveyReportDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('dateOfTheConsultantSurveyReport').invalid" >
	  {{ getControls('dateOfTheConsultantSurveyReport')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سعر المتر للارض تقرير استشاري المساحة</mat-label>
	 <input matInput formControlName="pricePerSquareMeterOfLandConsultantReport"/>
	 <mat-error *ngIf = "getControls('pricePerSquareMeterOfLandConsultantReport').invalid" >
	  {{ getControls('pricePerSquareMeterOfLandConsultantReport')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سعر المبني تقرير استشاري المساحة</mat-label>
	 <input matInput formControlName="priceOfTheBuildingConsultantReportArea"/>
	 <mat-error *ngIf = "getControls('priceOfTheBuildingConsultantReportArea').invalid" >
	  {{ getControls('priceOfTheBuildingConsultantReportArea')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اجمالي تقرير استشاري المساحة</mat-label>
	 <input matInput formControlName="totalSurveyReport"/>
	 <mat-error *ngIf = "getControls('totalSurveyReport').invalid" >
	  {{ getControls('totalSurveyReport')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الرقم التعريفي عقود المثل</mat-label>
	 <input matInput formControlName="idIdealContracts"/>
	 <mat-error *ngIf = "getControls('idIdealContracts').invalid" >
	  {{ getControls('idIdealContracts')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الشهر العقاري عقود المثل</mat-label>
	 <input matInput formControlName="numberMortgagecontractsParagon"/>
	 <mat-error *ngIf = "getControls('numberMortgagecontractsParagon').invalid" >
	  {{ getControls('numberMortgagecontractsParagon')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ عقود المثل</mat-label>
	 <input matInput
	  [matDatepicker] = "historyOfParableContractsDatepicker"
	  autocomplete = "off"
	  formControlName= "historyOfParableContracts"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="historyOfParableContractsDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #historyOfParableContractsDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('historyOfParableContracts').invalid" >
	  {{ getControls('historyOfParableContracts')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سعر المتر للارض عقود المثل</mat-label>
	 <input matInput formControlName="thePricePerSquareMeterOfTheLandContracts"/>
	 <mat-error *ngIf = "getControls('thePricePerSquareMeterOfTheLandContracts').invalid" >
	  {{ getControls('thePricePerSquareMeterOfTheLandContracts')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ محضر الممارسة</mat-label>
	 <input matInput
	  [matDatepicker] = "dateOfPracticeRecordDatepicker"
	  autocomplete = "off"
	  formControlName= "dateOfPracticeRecord"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateOfPracticeRecordDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateOfPracticeRecordDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('dateOfPracticeRecord').invalid" >
	  {{ getControls('dateOfPracticeRecord')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سعر المتر للارض محضر الممارسة</mat-label>
	 <input matInput formControlName="pricePerMeterOfLandRecordOfPractice"/>
	 <mat-error *ngIf = "getControls('pricePerMeterOfLandRecordOfPractice').invalid" >
	  {{ getControls('pricePerMeterOfLandRecordOfPractice')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قيمة التعويض المبدئي</mat-label>
	 <input matInput formControlName="initialCompensationAmount"/>
	 <mat-error *ngIf = "getControls('initialCompensationAmount').invalid" >
	  {{ getControls('initialCompensationAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الشيك التعويض المبدئي</mat-label>
	 <input matInput formControlName="initialCompensationCheckNumber"/>
	 <mat-error *ngIf = "getControls('initialCompensationCheckNumber').invalid" >
	  {{ getControls('initialCompensationCheckNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>التاريخ التعويض المبدئي</mat-label>
	 <input matInput
	  [matDatepicker] = "initialCompensationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "initialCompensationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="initialCompensationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #initialCompensationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('initialCompensationDate').invalid" >
	  {{ getControls('initialCompensationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #typeOfRemoval 
	  [options] = "typeOfRemovalSelectOptions"
	  formControlName = "typeOfRemoval"
	></app-material-select>

	<app-material-select appearance="outline"
	  #applicantHandRemoval 
	  [options] = "applicantHandRemovalSelectOptions"
	  formControlName = "applicantHandRemoval"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "expropriationDataBeforeThePrimeMinisterDecisionService" [id]="expropriationDataBeforeThePrimeMinisterDecisionForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    