
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'نقل موظف متعاقد من اداره لاداره'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "transferContractedEmployeeForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الفتره</mat-label>
	 <input matInput formControlName="periodNumber" [disableControl]="true" />
	 <mat-error *ngIf = "getControls('periodNumber').invalid" >
	  {{ getControls('periodNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ بدايه الفتره</mat-label>
	 <input matInput
	 [disableControl]="true" 
	  [matDatepicker] = "periodStartDateDatepicker"
	  autocomplete = "off"
	  formControlName= "periodStartDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="periodStartDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #periodStartDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('periodStartDate').invalid" >
	  {{ getControls('periodStartDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ نهايه الفتره</mat-label>
	 <input matInput
	 [disableControl]="true" 
	  [matDatepicker] = "periodEndDateDatepicker"
	  autocomplete = "off"
	  formControlName= "periodEndDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="periodEndDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #periodEndDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('periodEndDate').invalid" >
	  {{ getControls('periodEndDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الالتحاق يها</mat-label>
	 <input matInput
	 [disableControl]="true" 
	  [matDatepicker] = "hiringDateDatepicker"
	  autocomplete = "off"
	  formControlName= "hiringDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="hiringDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #hiringDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('hiringDate').invalid" >
	  {{ getControls('hiringDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ النقل</mat-label>
	 <input matInput
	  [matDatepicker] = "transferDateDatepicker"
	  autocomplete = "off"
	  formControlName= "transferDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="transferDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #transferDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('transferDate').invalid" >
	  {{ getControls('transferDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ امر التنفيذ</mat-label>
	 <input matInput
	  [matDatepicker] = "executionOrderDateDatepicker"
	  autocomplete = "off"
	  formControlName= "executionOrderDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="executionOrderDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #executionOrderDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('executionOrderDate').invalid" >
	  {{ getControls('executionOrderDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم امر التنفيذ</mat-label>
	 <input matInput formControlName="executionOrderNumber"/>
	 <mat-error *ngIf = "getControls('executionOrderNumber').invalid" >
	  {{ getControls('executionOrderNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline" [disabled]="true" 
	  #jobTitle 
	  [options] = "jobTitleSelectOptions"
	  formControlName = "jobTitle"
	></app-material-select>

	<app-material-select appearance="outline" [disabled]="true" 
	  #fromCentralAdministration 
	  [options] = "fromCentralAdministrationSelectOptions"
	  formControlName = "fromCentralAdministration"
	></app-material-select>

	<app-material-select appearance="outline" [disabled]="true" 
	  #fromSubAdministration 
	  [options] = "fromSubAdministrationSelectOptions"
	  formControlName = "fromSubAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #toCentralAdministration 
	  [options] = "toCentralAdministrationSelectOptions"
	  formControlName = "toCentralAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #toSubAdministration 
	  [options] = "toSubAdministrationSelectOptions"
	  formControlName = "toSubAdministration"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "transferContractedEmployeeService" [id]="transferContractedEmployeeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="transferContractedEmployeeForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

