
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'حوافظ التمويل الواردة من مصدر تمويل'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>سنه الموازنه</mat-label>
	 <input matInput formControlName="budgetYear"/>
	 <mat-error *ngIf = "getControls('budgetYear').invalid" >
	  {{ getControls('budgetYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل المحافظه</mat-label>
	 <input matInput formControlName="clipboardSerial"/>
	 <mat-error *ngIf = "getControls('clipboardSerial').invalid" >
	  {{ getControls('clipboardSerial')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم حافظ التمويل</mat-label>
	 <input matInput formControlName="fundClipboardNumber"/>
	 <mat-error *ngIf = "getControls('fundClipboardNumber').invalid" >
	  {{ getControls('fundClipboardNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #fundingSourceNumber 
	  [options] = "fundingSourceNumberSelectOptions"
	  formControlName = "fundingSourceNumber"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getFundsFromAFundingSourcePaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
