
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'موقف المباني المؤجرة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "positionOfLeasedBuildingsForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>الرقم التعريفي</mat-label>
	 <input matInput formControlName="iD"/>
	 <mat-error *ngIf = "getControls('iD').invalid" >
	  {{ getControls('iD')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الموقف</mat-label>
	 <input matInput formControlName="situation"/>
	 <mat-error *ngIf = "getControls('situation').invalid" >
	  {{ getControls('situation')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "positionOfLeasedBuildingsService" [id]="positionOfLeasedBuildingsForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="positionOfLeasedBuildingsForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

