
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'قيم التحليل'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "analysisValueForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>اسم المدرسه</mat-label>
	 <input matInput formControlName="schoolName"/>
	 <mat-error *ngIf = "getControls('schoolName').invalid" >
	  {{ getControls('schoolName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الجسه</mat-label>
	 <input matInput formControlName="sensorsNumber"/>
	 <mat-error *ngIf = "getControls('sensorsNumber').invalid" >
	  {{ getControls('sensorsNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الجسه</mat-label>
	 <input matInput
	  [matDatepicker] = "sensorsDateDatepicker"
	  autocomplete = "off"
	  formControlName= "sensorsDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="sensorsDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #sensorsDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('sensorsDate').invalid" >
	  {{ getControls('sensorsDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>منسوب المياه الجوفيه الابتدائي</mat-label>
	 <input matInput formControlName="primaryGroundwaterLevel"/>
	 <mat-error *ngIf = "getControls('primaryGroundwaterLevel').invalid" >
	  {{ getControls('primaryGroundwaterLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>منسوب المياه الجوفيه النهائيه</mat-label>
	 <input matInput formControlName="finalGroundwaterLevel"/>
	 <mat-error *ngIf = "getControls('finalGroundwaterLevel').invalid" >
	  {{ getControls('finalGroundwaterLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الطبقه</mat-label>
	 <input matInput formControlName="layerNumber" [disableControl]="true" />
	 <mat-error *ngIf = "getControls('layerNumber').invalid" >
	  {{ getControls('layerNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نهايه عمق الطبقه</mat-label>
	 <input matInput formControlName="endOfLayerDepth"/>
	 <mat-error *ngIf = "getControls('endOfLayerDepth').invalid" >
	  {{ getControls('endOfLayerDepth')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>منسوب الاختيار</mat-label>
	 <input matInput formControlName="selectionLevel"/>
	 <mat-error *ngIf = "getControls('selectionLevel').invalid" >
	  {{ getControls('selectionLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المستوى الثانى</mat-label>
	 <input matInput formControlName="secondLevelCode"/>
	 <mat-error *ngIf = "getControls('secondLevelCode').invalid" >
	  {{ getControls('secondLevelCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المستوى الثالث</mat-label>
	 <input matInput formControlName="thirdLevelCode"/>
	 <mat-error *ngIf = "getControls('thirdLevelCode').invalid" >
	  {{ getControls('thirdLevelCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #firstLevelCode 
	  [options] = "firstLevelCodeSelectOptions"
	  formControlName = "firstLevelCode"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "analysisValueService" [id]="analysisValueForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="analysisValueForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

