
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'استماره التفتيش '"
>
    <ng-template newFormContainer >
        <form [formGroup] = "inspectionFormForm">
         

	<mat-form-field appearance="outline">
	 <mat-label> رقم المدرسه </mat-label>
	 <input matInput formControlName="schoolNumber"/>
	 <mat-error *ngIf = "getControls('schoolNumber').invalid" >
	  {{ getControls('schoolNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ التفتيش </mat-label>
	 <input matInput
	  [matDatepicker] = "inspectionDateDatepicker"
	  autocomplete = "off"
	  formControlName= "inspectionDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="inspectionDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #inspectionDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('inspectionDate').invalid" >
	  {{ getControls('inspectionDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مدير المدرسه </mat-label>
	 <input matInput formControlName="schoolManger"/>
	 <mat-error *ngIf = "getControls('schoolManger').invalid" >
	  {{ getControls('schoolManger')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عضو التفتيش عن الاداره التعلميه </mat-label>
	 <input matInput formControlName="managementEducationInspectionMember"/>
	 <mat-error *ngIf = "getControls('managementEducationInspectionMember').invalid" >
	  {{ getControls('managementEducationInspectionMember')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اعتماد مدير الاداره التعلميه </mat-label>
	 <input matInput formControlName="directorEducationalAdministrationAccreditation"/>
	 <mat-error *ngIf = "getControls('directorEducationalAdministrationAccreditation').invalid" >
	  {{ getControls('directorEducationalAdministrationAccreditation')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اعتماد مدير المنطقه </mat-label>
	 <input matInput formControlName="arealAdministrationAccreditation"/>
	 <mat-error *ngIf = "getControls('arealAdministrationAccreditation').invalid" >
	  {{ getControls('arealAdministrationAccreditation')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #administrationCode 
	  [options] = "administrationCodeSelectOptions"
	  formControlName = "administrationCode"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "inspectionFormService" [id]="inspectionFormForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="inspectionFormForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

