
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "' استمارات مختلفه اضافه غير مستخلصه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الاستماره</mat-label>
	 <input matInput
	  [matDatepicker] = "dateFormDatepicker"
	  autocomplete = "off"
	  formControlName= "dateForm"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateFormDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateFormDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('dateForm').invalid" >
	  {{ getControls('dateForm')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مبلغ الاستماره </mat-label>
	 <input matInput formControlName="formAmount"/>
	 <mat-error *ngIf = "getControls('formAmount').invalid" >
	  {{ getControls('formAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المناقصه</mat-label>
	 <input matInput formControlName="bidNumber"/>
	 <mat-error *ngIf = "getControls('bidNumber').invalid" >
	  {{ getControls('bidNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الحساب</mat-label>
	 <input matInput formControlName="accountNumber"/>
	 <mat-error *ngIf = "getControls('accountNumber').invalid" >
	  {{ getControls('accountNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>البيان</mat-label>
	 <input matInput formControlName="statement"/>
	 <mat-error *ngIf = "getControls('statement').invalid" >
	  {{ getControls('statement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #region 
	  [options] = "regionSelectOptions"
	  formControlName = "region"
	></app-material-select>

	<app-material-select appearance="outline"
	  #administration 
	  [options] = "administrationSelectOptions"
	  formControlName = "administration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #serialForm 
	  [options] = "serialFormSelectOptions"
	  formControlName = "serialForm"
	></app-material-select>

	<app-material-select appearance="outline"
	  #sourceForm 
	  [options] = "sourceFormSelectOptions"
	  formControlName = "sourceForm"
	></app-material-select>

	<app-material-select appearance="outline"
	  #destinationType 
	  [options] = "destinationTypeSelectOptions"
	  formControlName = "destinationType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #destinationCode 
	  [options] = "destinationCodeSelectOptions"
	  formControlName = "destinationCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringType 
	  [options] = "offeringTypeSelectOptions"
	  formControlName = "offeringType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #bankCode 
	  [options] = "bankCodeSelectOptions"
	  formControlName = "bankCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getDifferentFormsAddedButNotExtractedPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
