
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات المشتركين في الصندوق'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم عضويه</mat-label>
	 <input matInput formControlName="membershipNumber"/>
	 <mat-error *ngIf = "getControls('membershipNumber').invalid" >
	  {{ getControls('membershipNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #employeeStatus 
	  [options] = "employeeStatusSelectOptions"
	  formControlName = "employeeStatus"
	></app-material-select>

	<app-material-select appearance="outline"
	  #administrationCode 
	  [options] = "administrationCodeSelectOptions"
	  formControlName = "administrationCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #beneficiaryCode 
	  [options] = "beneficiaryCodeSelectOptions"
	  formControlName = "beneficiaryCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getSubscribersDataInFundPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
