
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات مشروع</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="projectDataForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود المشروع</mat-label>
	 <input matInput formControlName="projectCode"/>
	 <mat-error *ngIf = "getControls('projectCode').invalid" >
	  {{ getControls('projectCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المشروع</mat-label>
	 <input matInput formControlName="projectName"/>
	 <mat-error *ngIf = "getControls('projectName').invalid" >
	  {{ getControls('projectName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "projectDataService" [id]="projectDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "projectDataForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

