
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'الخدمات المطلوبة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الطلب</mat-label>
	 <input matInput
	  [matDatepicker] = "orderDateDatepicker"
	  autocomplete = "off"
	  formControlName= "orderDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="orderDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #orderDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('orderDate').invalid" >
	  {{ getControls('orderDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الطلب</mat-label>
	 <input matInput formControlName="orderNumber"/>
	 <mat-error *ngIf = "getControls('orderNumber').invalid" >
	  {{ getControls('orderNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #governorate 
	  [options] = "governorateSelectOptions"
	  formControlName = "governorate"
	></app-material-select>

	<app-material-select appearance="outline"
	  #department 
	  [options] = "departmentSelectOptions"
	  formControlName = "department"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getRequiredServicesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
