
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'اعانات موظفين غير محملة علي شيك'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label> اسم الموظف</mat-label>
	 <input matInput formControlName="employeeName"/>
	 <mat-error *ngIf = "getControls('employeeName').invalid" >
	  {{ getControls('employeeName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم واسم الاعانة</mat-label>
	 <input matInput formControlName="subsidyNoandName"/>
	 <mat-error *ngIf = "getControls('subsidyNoandName').invalid" >
	  {{ getControls('subsidyNo.andName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #affiliateManagement 
	  [options] = "affiliateManagementSelectOptions"
	  formControlName = "affiliateManagement"
	></app-material-select>

	<app-material-select appearance="outline"
	  #subsidyType 
	  [options] = "subsidyTypeSelectOptions"
	  formControlName = "subsidyType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getEmployeeBenefitsNotLoadedOnACheckPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
