
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              حافظة المستندات
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "documentsFolderForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>رقم الملف</mat-label>
	 <input matInput formControlName="fileNumber"/>
	 <mat-error *ngIf = "getControls('fileNumber').invalid" >
	  {{ getControls('fileNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الجهة</mat-label>
	 <input matInput formControlName="entityName"  [disableControl]="false" />
	 <mat-error *ngIf = "getControls('entityName').invalid" >
	  {{ getControls('entityName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الدعوة</mat-label>
	 <input matInput formControlName="lawsuitNumber"  [disableControl]="false" />
	 <mat-error *ngIf = "getControls('lawsuitNumber').invalid" >
	  {{ getControls('lawsuitNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>لسنة</mat-label>
	 <input matInput
	  [disableControl]="false" 
	  [matDatepicker] = "yearDatepicker"
	  autocomplete = "off"
	  formControlName= "year"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="yearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #yearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('year').invalid" >
	  {{ getControls('year')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>بيان المستند</mat-label>
	 <input matInput formControlName="documentStatement"  [disableControl]="false" />
	 <mat-error *ngIf = "getControls('documentStatement').invalid" >
	  {{ getControls('documentStatement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline" [disabled]="true" 
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline" [disabled]="true" 
	  #entityType 
	  [options] = "entityTypeSelectOptions"
	  formControlName = "entityType"
	></app-material-select>

	<app-material-select appearance="outline" [disabled]="true" 
	  #entityCode 
	  [options] = "entityCodeSelectOptions"
	  formControlName = "entityCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #documentCode 
	  [options] = "documentCodeSelectOptions"
	  formControlName = "documentCode"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "documentsFolderService" [id]="documentsFolderForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    