
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات اّلة</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="machineDataForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم الدور</mat-label>
	 <input matInput formControlName="floorNumber"/>
	 <mat-error *ngIf = "getControls('floorNumber').invalid" >
	  {{ getControls('floorNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل الملحق</mat-label>
	 <input matInput formControlName="extensionSerial"/>
	 <mat-error *ngIf = "getControls('extensionSerial').invalid" >
	  {{ getControls('extensionSerial')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الشركة الموردة</mat-label>
	 <input matInput formControlName="vendor"/>
	 <mat-error *ngIf = "getControls('vendor').invalid" >
	  {{ getControls('vendor')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>فترة الضمان بالسنوات</mat-label>
	 <input matInput formControlName="warrantyPeriodInYears"/>
	 <mat-error *ngIf = "getControls('warrantyPeriodInYears').invalid" >
	  {{ getControls('warrantyPeriodInYears')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الطراز</mat-label>
	 <input matInput formControlName="equipmentModel"/>
	 <mat-error *ngIf = "getControls('equipmentModel').invalid" >
	  {{ getControls('equipmentModel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المعدة</mat-label>
	 <input matInput formControlName="equipmentNumber"/>
	 <mat-error *ngIf = "getControls('equipmentNumber').invalid" >
	  {{ getControls('equipmentNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ بداية التشغيل</mat-label>
	 <input matInput
	  [matDatepicker] = "operationBeganingdateDatepicker"
	  autocomplete = "off"
	  formControlName= "operationBeganingdate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="operationBeganingdateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #operationBeganingdateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('operationBeganingdate').invalid" >
	  {{ getControls('operationBeganingdate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ التوريد</mat-label>
	 <input matInput
	  [matDatepicker] = "vendingDateDatepicker"
	  autocomplete = "off"
	  formControlName= "vendingDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="vendingDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #vendingDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('vendingDate').invalid" >
	  {{ getControls('vendingDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #buildingType 
	  [options] = "buildingTypeSelectOptions"
	  formControlName = "buildingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #region 
	  [options] = "regionSelectOptions"
	  formControlName = "region"
	></app-material-select>

	<app-material-select appearance="outline"
	  #territoryCenter 
	  [options] = "territoryCenterSelectOptions"
	  formControlName = "territoryCenter"
	></app-material-select>

	<app-material-select appearance="outline"
	  #workshopType 
	  [options] = "workshopTypeSelectOptions"
	  formControlName = "workshopType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #manufacturer 
	  [options] = "manufacturerSelectOptions"
	  formControlName = "manufacturer"
	></app-material-select>

	<app-material-select appearance="outline"
	  #equipmentType 
	  [options] = "equipmentTypeSelectOptions"
	  formControlName = "equipmentType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #equipmentGroup 
	  [options] = "equipmentGroupSelectOptions"
	  formControlName = "equipmentGroup"
	></app-material-select>

	<app-material-select appearance="outline"
	  #primaryGroup 
	  [options] = "primaryGroupSelectOptions"
	  formControlName = "primaryGroup"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "machineDataService" [id]="machineDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "machineDataForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

