
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "' لجان مرور المدارس الخاصة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "privateSchoolTrafficCommitteeForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المدرسة</mat-label>
	 <input matInput formControlName="schoolCode"/>
	 <mat-error *ngIf = "getControls('schoolCode').invalid" >
	  {{ getControls('schoolCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ المرور</mat-label>
	 <input matInput
	  [matDatepicker] = "passageDateDatepicker"
	  autocomplete = "off"
	  formControlName= "passageDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="passageDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #passageDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('passageDate').invalid" >
	  {{ getControls('passageDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الملاحظة</mat-label>
	 <input matInput formControlName="noteCode"/>
	 <mat-error *ngIf = "getControls('noteCode').invalid" >
	  {{ getControls('noteCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الاجراءات</mat-label>
	 <input matInput formControlName="measures"/>
	 <mat-error *ngIf = "getControls('measures').invalid" >
	  {{ getControls('measures')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "privateSchoolTrafficCommitteeService" [id]="privateSchoolTrafficCommitteeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="privateSchoolTrafficCommitteeForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

