
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'شبكات عمومية للمياه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قطر الشبكه العموميه</mat-label>
	 <input matInput formControlName="publicNetworkDiameter"/>
	 <mat-error *ngIf = "getControls('publicNetworkDiameter').invalid" >
	  {{ getControls('publicNetworkDiameter')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>بعد الشبكه عن المبنى</mat-label>
	 <input matInput formControlName="distance"/>
	 <mat-error *ngIf = "getControls('distance').invalid" >
	  {{ getControls('distance')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getPublicWaterNetworksPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
