
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'تسجيل موقف الاحتياج للازاله'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "recordThePositionOfNeedToBeRemovedForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المدرسة</mat-label>
	 <input matInput formControlName="schoolCode"/>
	 <mat-error *ngIf = "getControls('schoolCode').invalid" >
	  {{ getControls('schoolCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الملحق</mat-label>
	 <input matInput formControlName="extension"/>
	 <mat-error *ngIf = "getControls('extension').invalid" >
	  {{ getControls('extension')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #status 
	  [options] = "statusSelectOptions"
	  formControlName = "status"
	></app-material-select>

	<app-material-select appearance="outline"
	  #needCode 
	  [options] = "needCodeSelectOptions"
	  formControlName = "needCode"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "recordThePositionOfNeedToBeRemovedService" [id]="recordThePositionOfNeedToBeRemovedForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="recordThePositionOfNeedToBeRemovedForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

