
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              تسجيل مطالبة الاستماره مع بند الصرف
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "recordTheClaimFormWithTheExchangeItemForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ تسجيل الاستماره</mat-label>
	 <input matInput
	  [matDatepicker] = "registerationFormDataDatepicker"
	  autocomplete = "off"
	  formControlName= "registerationFormData"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="registerationFormDataDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #registerationFormDataDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('registerationFormData').invalid" >
	  {{ getControls('registerationFormData')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل الاستماره</mat-label>
	 <input matInput formControlName="formSerial"/>
	 <mat-error *ngIf = "getControls('formSerial').invalid" >
	  {{ getControls('formSerial')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #requestingAreaNumber 
	  [options] = "requestingAreaNumberSelectOptions"
	  formControlName = "requestingAreaNumber"
	></app-material-select>

	<app-material-select appearance="outline"
	  #fundingSource 
	  [options] = "fundingSourceSelectOptions"
	  formControlName = "fundingSource"
	></app-material-select>

	<app-material-select appearance="outline"
	  #budgetItem 
	  [options] = "budgetItemSelectOptions"
	  formControlName = "budgetItem"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "recordTheClaimFormWithTheExchangeItemService" [id]="recordTheClaimFormWithTheExchangeItemForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    