
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات اجزاء مجموعة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم المناقصة</mat-label>
	 <input matInput formControlName="bidNumber"/>
	 <mat-error *ngIf = "getControls('bidNumber').invalid" >
	  {{ getControls('bidNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المشروع / المجموعة</mat-label>
	 <input matInput formControlName="group"/>
	 <mat-error *ngIf = "getControls('group').invalid" >
	  {{ getControls('group')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مدة التنفيذ بالشهور</mat-label>
	 <input matInput formControlName="durationImplementationInMonths"/>
	 <mat-error *ngIf = "getControls('durationImplementationInMonths').invalid" >
	  {{ getControls('durationImplementationInMonths')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #buildingType 
	  [options] = "buildingTypeSelectOptions"
	  formControlName = "buildingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringType 
	  [options] = "offeringTypeSelectOptions"
	  formControlName = "offeringType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #educationalAdministration 
	  [options] = "educationalAdministrationSelectOptions"
	  formControlName = "educationalAdministration"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getGroupsDetailsDataPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
