
<mat-card>
    <mat-card-header>
        <mat-card-title>طلب اختبار عينة لاعمال الغير</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="sampleTestRequestForTheWorkOfOthersForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل طلب الاختبار</mat-label>
	 <input matInput formControlName="serialRequestTest"/>
	 <mat-error *ngIf = "getControls('serialRequestTest').invalid" >
	  {{ getControls('serialRequestTest')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المقاول</mat-label>
	 <input matInput formControlName="contractorCode"/>
	 <mat-error *ngIf = "getControls('contractorCode').invalid" >
	  {{ getControls('contractorCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عدد العينات</mat-label>
	 <input matInput formControlName="samplesNumber"/>
	 <mat-error *ngIf = "getControls('samplesNumber').invalid" >
	  {{ getControls('samplesNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مبني تعليمي رقم</mat-label>
	 <input matInput formControlName="educationalBuildingNumber"/>
	 <mat-error *ngIf = "getControls('educationalBuildingNumber').invalid" >
	  {{ getControls('educationalBuildingNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الملحق</mat-label>
	 <input matInput formControlName="supplement"/>
	 <mat-error *ngIf = "getControls('supplement').invalid" >
	  {{ getControls('supplement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المبلغ المدفوع</mat-label>
	 <input matInput formControlName="paidAmount" [disableControl]="true" />
	 <mat-error *ngIf = "getControls('paidAmount').invalid" >
	  {{ getControls('paidAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الايصال او الشيك</mat-label>
	 <input matInput formControlName="receiptOrCheckNumber"/>
	 <mat-error *ngIf = "getControls('receiptOrCheckNumber').invalid" >
	  {{ getControls('receiptOrCheckNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الايصال او الشيك</mat-label>
	 <input matInput
	  [matDatepicker] = "dateOfReceiptOrCheckDatepicker"
	  autocomplete = "off"
	  formControlName= "dateOfReceiptOrCheck"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateOfReceiptOrCheckDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateOfReceiptOrCheckDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('dateOfReceiptOrCheck').invalid" >
	  {{ getControls('dateOfReceiptOrCheck')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المشروع</mat-label>
	 <input matInput formControlName="projectCode"/>
	 <mat-error *ngIf = "getControls('projectCode').invalid" >
	  {{ getControls('projectCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #sampleTested 
	  [options] = "sampleTestedSelectOptions"
	  formControlName = "sampleTested"
	></app-material-select>

	<app-material-select appearance="outline"
	  #laboratoryCode 
	  [options] = "laboratoryCodeSelectOptions"
	  formControlName = "laboratoryCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #typeOfReceiptOrCheck 
	  [options] = "typeOfReceiptOrCheckSelectOptions"
	  formControlName = "typeOfReceiptOrCheck"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "sampleTestRequestForTheWorkOfOthersService" [id]="sampleTestRequestForTheWorkOfOthersForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "sampleTestRequestForTheWorkOfOthersForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

