
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              بيانات حدود الموقع العام
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "publicSiteBoundaryDataForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الارض</mat-label>
	 <input matInput formControlName="landCode"/>
	 <mat-error *ngIf = "getControls('landCode').invalid" >
	  {{ getControls('landCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>متوسط منسوب الموقع</mat-label>
	 <input matInput formControlName="averageSiteLevel"/>
	 <mat-error *ngIf = "getControls('averageSiteLevel').invalid" >
	  {{ getControls('averageSiteLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>متوسط منسوب الفناء المقترح</mat-label>
	 <input matInput formControlName="proposedAverageYardLevel"/>
	 <mat-error *ngIf = "getControls('proposedAverageYardLevel').invalid" >
	  {{ getControls('proposedAverageYardLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>منسوب أعلى نقطة</mat-label>
	 <input matInput formControlName="highestPointLevel"/>
	 <mat-error *ngIf = "getControls('highestPointLevel').invalid" >
	  {{ getControls('highestPointLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>منسوب أقل نقطة</mat-label>
	 <input matInput formControlName="lowestPointLevel"/>
	 <mat-error *ngIf = "getControls('lowestPointLevel').invalid" >
	  {{ getControls('lowestPointLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الحد</mat-label>
	 <input matInput formControlName="borderName"/>
	 <mat-error *ngIf = "getControls('borderName').invalid" >
	  {{ getControls('borderName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>طول الحد</mat-label>
	 <input matInput formControlName="borderLength"/>
	 <mat-error *ngIf = "getControls('borderLength').invalid" >
	  {{ getControls('borderLength')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>منسوب الجار</mat-label>
	 <input matInput formControlName="neighborLevel"/>
	 <mat-error *ngIf = "getControls('neighborLevel').invalid" >
	  {{ getControls('neighborLevel')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>وصف الجار</mat-label>
	 <input matInput formControlName="neighborDescription"/>
	 <mat-error *ngIf = "getControls('neighborDescription').invalid" >
	  {{ getControls('neighborDescription')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #hasNeighbor 
	  [options] = "hasNeighborSelectOptions"
	  formControlName = "hasNeighbor"
	></app-material-select>

	<app-material-select appearance="outline"
	  #fence 
	  [options] = "fenceSelectOptions"
	  formControlName = "fence"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "publicSiteBoundaryDataService" [id]="publicSiteBoundaryDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    