
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات العضويه </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="membershipDataForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم المؤظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الوظيفه</mat-label>
	 <input matInput formControlName="job"  [disableControl]="false" />
	 <mat-error *ngIf = "getControls('job').invalid" >
	  {{ getControls('job')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الرقم القومى</mat-label>
	 <input matInput formControlName="iDNumber"  [disableControl]="false" />
	 <mat-error *ngIf = "getControls('iDNumber').invalid" >
	  {{ getControls('iDNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>محل الاقامه</mat-label>
	 <input matInput formControlName="residence"  [disableControl]="false" />
	 <mat-error *ngIf = "getControls('residence').invalid" >
	  {{ getControls('residence')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عدد الاسهم</mat-label>
	 <input matInput formControlName="sharesNumber"/>
	 <mat-error *ngIf = "getControls('sharesNumber').invalid" >
	  {{ getControls('sharesNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم العضويه</mat-label>
	 <input matInput formControlName="membershipNumber"/>
	 <mat-error *ngIf = "getControls('membershipNumber').invalid" >
	  {{ getControls('membershipNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ العضويه</mat-label>
	 <input matInput
	  [matDatepicker] = "membershipDateDatepicker"
	  autocomplete = "off"
	  formControlName= "membershipDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="membershipDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #membershipDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('membershipDate').invalid" >
	  {{ getControls('membershipDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قيمه الربح</mat-label>
	 <input matInput formControlName="profitAmount"/>
	 <mat-error *ngIf = "getControls('profitAmount').invalid" >
	  {{ getControls('profitAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "membershipDataService" [id]="membershipDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "membershipDataForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

