
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              تعريف نموذج جديد 
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "defineANewModelForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود النموذج</mat-label>
	 <input matInput formControlName="modelCode"/>
	 <mat-error *ngIf = "getControls('modelCode').invalid" >
	  {{ getControls('modelCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اسم النموذج </mat-label>
	 <input matInput formControlName="modelName"/>
	 <mat-error *ngIf = "getControls('modelName').invalid" >
	  {{ getControls('modelName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "defineANewModelService" [id]="defineANewModelForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    