
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'الفترات المدرسية '"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المدرسه</mat-label>
	 <input matInput formControlName="schoolName"/>
	 <mat-error *ngIf = "getControls('schoolName').invalid" >
	  {{ getControls('schoolName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المدير المسؤل</mat-label>
	 <input matInput formControlName="responsibleManager"/>
	 <mat-error *ngIf = "getControls('responsibleManager').invalid" >
	  {{ getControls('responsibleManager')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #regionalCenterCode 
	  [options] = "regionalCenterCodeSelectOptions"
	  formControlName = "regionalCenterCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #periodNumber 
	  [options] = "periodNumberSelectOptions"
	  formControlName = "periodNumber"
	></app-material-select>

	<app-material-select appearance="outline"
	  #schoolPupilsType 
	  [options] = "schoolPupilsTypeSelectOptions"
	  formControlName = "schoolPupilsType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getSchoolPeriodsPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
