
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'حافظة المستندات'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم الملف</mat-label>
	 <input matInput formControlName="fileNumber"/>
	 <mat-error *ngIf = "getControls('fileNumber').invalid" >
	  {{ getControls('fileNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الجهة</mat-label>
	 <input matInput formControlName="entityName"/>
	 <mat-error *ngIf = "getControls('entityName').invalid" >
	  {{ getControls('entityName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الدعوة</mat-label>
	 <input matInput formControlName="lawsuitNumber"/>
	 <mat-error *ngIf = "getControls('lawsuitNumber').invalid" >
	  {{ getControls('lawsuitNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>لسنة</mat-label>
	 <input matInput
	  [matDatepicker] = "yearDatepicker"
	  autocomplete = "off"
	  formControlName= "year"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="yearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #yearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('year').invalid" >
	  {{ getControls('year')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>بيان المستند</mat-label>
	 <input matInput formControlName="documentStatement"/>
	 <mat-error *ngIf = "getControls('documentStatement').invalid" >
	  {{ getControls('documentStatement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #entityType 
	  [options] = "entityTypeSelectOptions"
	  formControlName = "entityType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #entityCode 
	  [options] = "entityCodeSelectOptions"
	  formControlName = "entityCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #documentCode 
	  [options] = "documentCodeSelectOptions"
	  formControlName = "documentCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getDocumentsFolderPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
