<div class="row">
    <mat-form-field appearance="outline" class="column1">
        <mat-label>كود {{ options.label }}</mat-label>
        <input [formControl]="matCodeInput" matInput (input)="matCodeInputChanged$.next($event.target.value)" />
        <mat-error *ngIf="matCodeInput.invalid">
            هذا الكود غير معرف
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="column3">
        <mat-label>اسم {{ options.label }}</mat-label>
        <input #matAutoCompleteInput="matInput" matInput [matAutocomplete]="auto" (blur)="onTouched()"
            (input)="matNameInputChanged$.next($event.target.value)" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
            (optionSelected)="onSelectionChanged($event.option.value)" (closed)="onAutoCompleteClosed()"
            [displayWith]="getDisplayNameFunction">
            <mat-option *ngFor="let data of currentVisibleData" [value]="data">
                {{ data[options.fetchModel.nameField] }}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="control.control.invalid">
            {{ control.control | getErrorMessages: [] }}
        </mat-error>
        <mat-progress-spinner *ngIf="isLoading" [mode]="'indeterminate'" [diameter]="40">
        </mat-progress-spinner>
    </mat-form-field>
</div>