
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'اكواد الاختبار'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود الماده الاساسية</mat-label>
	 <input matInput formControlName="basicMaterialCode"/>
	 <mat-error *ngIf = "getControls('basicMaterialCode').invalid" >
	  {{ getControls('basicMaterialCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المادة الفرعية</mat-label>
	 <input matInput formControlName="subMaterialCode"/>
	 <mat-error *ngIf = "getControls('subMaterialCode').invalid" >
	  {{ getControls('subMaterialCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الاختبار</mat-label>
	 <input matInput formControlName="testCode"/>
	 <mat-error *ngIf = "getControls('testCode').invalid" >
	  {{ getControls('testCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الاختبار</mat-label>
	 <input matInput formControlName="testName"/>
	 <mat-error *ngIf = "getControls('testName').invalid" >
	  {{ getControls('testName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #hasAge 
	  [options] = "hasAgeSelectOptions"
	  formControlName = "hasAge"
	></app-material-select>

	<app-material-select appearance="outline"
	  #priceRelationship 
	  [options] = "priceRelationshipSelectOptions"
	  formControlName = "priceRelationship"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getTestCodesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
