
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'برنامج المقررات الوظيفيه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود الوظيفه</mat-label>
	 <input matInput formControlName="jobCode"/>
	 <mat-error *ngIf = "getControls('jobCode').invalid" >
	  {{ getControls('jobCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الوظيفه</mat-label>
	 <input matInput formControlName="jobName"/>
	 <mat-error *ngIf = "getControls('jobName').invalid" >
	  {{ getControls('jobName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #region 
	  [options] = "regionSelectOptions"
	  formControlName = "region"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getCareerProgramPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
