
<mat-card>
    <mat-card-header>
        <mat-card-title>كود سبب انهاء تسكين مهندس على مشروع</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="reasonForEndingEngineerHousingOnProjectForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود سبب الانتهاء</mat-label>
	 <input matInput formControlName="terminateResonCode"/>
	 <mat-error *ngIf = "getControls('terminateResonCode').invalid" >
	  {{ getControls('terminateResonCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سبب الانهاء</mat-label>
	 <input matInput formControlName="terminateReson"/>
	 <mat-error *ngIf = "getControls('terminateReson').invalid" >
	  {{ getControls('terminateReson')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "reasonForEndingEngineerHousingOnProjectService" [id]="reasonForEndingEngineerHousingOnProjectForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "reasonForEndingEngineerHousingOnProjectForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

