
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'فترة عمل الصيدلية'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "periodOfWorkForThePharmacyForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>اليوم</mat-label>
	 <input matInput
	  [matDatepicker] = "dayDatepicker"
	  autocomplete = "off"
	  formControlName= "day"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dayDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dayDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('day').invalid" >
	  {{ getControls('day')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>من</mat-label>
	 <input matInput
	  [matDatepicker] = "fromDatepicker"
	  autocomplete = "off"
	  formControlName= "from"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="fromDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #fromDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('from').invalid" >
	  {{ getControls('from')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الى</mat-label>
	 <input matInput
	  [matDatepicker] = "toDatepicker"
	  autocomplete = "off"
	  formControlName= "to"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="toDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #toDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('to').invalid" >
	  {{ getControls('to')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الصيدلى</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الصيدلي</mat-label>
	 <input matInput formControlName="employeeName" [disableControl]="false" />
	 <mat-error *ngIf = "getControls('employeeName').invalid" >
	  {{ getControls('employeeName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>ملاحظات</mat-label>
	 <input matInput formControlName="notes"/>
	 <mat-error *ngIf = "getControls('notes').invalid" >
	  {{ getControls('notes')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "periodOfWorkForThePharmacyService" [id]="periodOfWorkForThePharmacyForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="periodOfWorkForThePharmacyForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

