
<mat-card>
    <mat-card-header>
        <mat-card-title>شبكة عمومية للمياه</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="publicWaterNetworkForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قطر الشبكه العموميه</mat-label>
	 <input matInput formControlName="publicNetworkDiameter"/>
	 <mat-error *ngIf = "getControls('publicNetworkDiameter').invalid" >
	  {{ getControls('publicNetworkDiameter')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>بعد الشبكه عن المبنى</mat-label>
	 <input matInput formControlName="distance"/>
	 <mat-error *ngIf = "getControls('distance').invalid" >
	  {{ getControls('distance')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline" [disabled]="true" 
	  #regionalCenterCode 
	  [options] = "regionalCenterCodeSelectOptions"
	  formControlName = "regionalCenterCode"
	></app-material-select>

	<app-material-select appearance="outline" [disabled]="true" 
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "publicWaterNetworkService" [id]="publicWaterNetworkForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "publicWaterNetworkForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

