
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'التجهيزات'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل الملحق</mat-label>
	 <input matInput formControlName="serialSupplement"/>
	 <mat-error *ngIf = "getControls('serialSupplement').invalid" >
	  {{ getControls('serialSupplement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الدور</mat-label>
	 <input matInput formControlName="floorNumber"/>
	 <mat-error *ngIf = "getControls('floorNumber').invalid" >
	  {{ getControls('floorNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>العدد من التجهيز</mat-label>
	 <input matInput formControlName="processingNumber"/>
	 <mat-error *ngIf = "getControls('processingNumber').invalid" >
	  {{ getControls('processingNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #spaceCode 
	  [options] = "spaceCodeSelectOptions"
	  formControlName = "spaceCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #processingType 
	  [options] = "processingTypeSelectOptions"
	  formControlName = "processingType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getProcessingsPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
