
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'اخلاء طرف'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "disclaimerForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ اخلاء طرف</mat-label>
	 <input matInput
	  [matDatepicker] = "disclaimerDateDatepicker"
	  autocomplete = "off"
	  formControlName= "disclaimerDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="disclaimerDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #disclaimerDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('disclaimerDate').invalid" >
	  {{ getControls('disclaimerDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الموظف</mat-label>
	 <input matInput formControlName="employeeName" [disableControl]="true" />
	 <mat-error *ngIf = "getControls('employeeName').invalid" >
	  {{ getControls('employeeName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "disclaimerService" [id]="disclaimerForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="disclaimerForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

