
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              بيانات البصمه الخطأ اليومي
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "dailyPrintErrorDataForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ اليوم </mat-label>
	 <input matInput
	  [matDatepicker] = "todayDateDatepicker"
	  autocomplete = "off"
	  formControlName= "todayDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="todayDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #todayDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('todayDate').invalid" >
	  {{ getControls('todayDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>توقيت الدخول 1</mat-label>
	 <input matInput
	  [matDatepicker] = "entryTime1Datepicker"
	  autocomplete = "off"
	  formControlName= "entryTime1"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="entryTime1Datepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #entryTime1Datepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('entryTime1').invalid" >
	  {{ getControls('entryTime1')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>توقيت الدخول 2</mat-label>
	 <input matInput
	  [matDatepicker] = "entryTime2Datepicker"
	  autocomplete = "off"
	  formControlName= "entryTime2"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="entryTime2Datepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #entryTime2Datepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('entryTime2').invalid" >
	  {{ getControls('entryTime2')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>توقيت الخروج 1</mat-label>
	 <input matInput
	  [matDatepicker] = "exitTime1Datepicker"
	  autocomplete = "off"
	  formControlName= "exitTime1"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="exitTime1Datepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #exitTime1Datepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('exitTime1').invalid" >
	  {{ getControls('exitTime1')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>توقيت الخروج 2</mat-label>
	 <input matInput
	  [matDatepicker] = "exitTime2Datepicker"
	  autocomplete = "off"
	  formControlName= "exitTime2"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="exitTime2Datepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #exitTime2Datepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('exitTime2').invalid" >
	  {{ getControls('exitTime2')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "dailyPrintErrorDataService" [id]="dailyPrintErrorDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    