
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات المشتركين بجمعية الخدمات'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اسم الموظف</mat-label>
	 <input matInput formControlName="employeeName"/>
	 <mat-error *ngIf = "getControls('employeeName').invalid" >
	  {{ getControls('employeeName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم العضوية</mat-label>
	 <input matInput formControlName="membershipNo"/>
	 <mat-error *ngIf = "getControls('membershipNo').invalid" >
	  {{ getControls('membershipNo')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ الاشتراك</mat-label>
	 <input matInput
	  [matDatepicker] = "subscriptionDateDatepicker"
	  autocomplete = "off"
	  formControlName= "subscriptionDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="subscriptionDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #subscriptionDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('subscriptionDate').invalid" >
	  {{ getControls('subscriptionDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getSubscribersDataInServicesAssociationPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
