
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات صيانه دوريه</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="periodicMaintenanceDataForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ مخطط الصيانه</mat-label>
	 <input matInput
	  [matDatepicker] = "dateofMaintenancePlanDatepicker"
	  autocomplete = "off"
	  formControlName= "dateofMaintenancePlan"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateofMaintenancePlanDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateofMaintenancePlanDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('dateofMaintenancePlan').invalid" >
	  {{ getControls('dateofMaintenancePlan')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ فعلى الصيانه</mat-label>
	 <input matInput
	  [matDatepicker] = "dateofActualMaintenanceDatepicker"
	  autocomplete = "off"
	  formControlName= "dateofActualMaintenance"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateofActualMaintenanceDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateofActualMaintenanceDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('dateofActualMaintenance').invalid" >
	  {{ getControls('dateofActualMaintenance')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #buildingType 
	  [options] = "buildingTypeSelectOptions"
	  formControlName = "buildingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #workshopNumber 
	  [options] = "workshopNumberSelectOptions"
	  formControlName = "workshopNumber"
	></app-material-select>

	<app-material-select appearance="outline"
	  #maintenanceStatus 
	  [options] = "maintenanceStatusSelectOptions"
	  formControlName = "maintenanceStatus"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "periodicMaintenanceDataService" [id]="periodicMaintenanceDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "periodicMaintenanceDataForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

