
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات اساسيه لمركز الشباب'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>الاسم</mat-label>
	 <input matInput formControlName="centerName"/>
	 <mat-error *ngIf = "getControls('centerName').invalid" >
	  {{ getControls('centerName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #governorate 
	  [options] = "governorateSelectOptions"
	  formControlName = "governorate"
	></app-material-select>

	<app-material-select appearance="outline"
	  #regionalCenter 
	  [options] = "regionalCenterSelectOptions"
	  formControlName = "regionalCenter"
	></app-material-select>

	<app-material-select appearance="outline"
	  #sectionCenter 
	  [options] = "sectionCenterSelectOptions"
	  formControlName = "sectionCenter"
	></app-material-select>

	<app-material-select appearance="outline"
	  #neighborhoodVillage 
	  [options] = "neighborhoodVillageSelectOptions"
	  formControlName = "neighborhoodVillage"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getBasicDataForTheYouthCenterPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
