
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'تاريخ التسليم الابتدائي والنهائي'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المشروع</mat-label>
	 <input matInput formControlName="projectCode"/>
	 <mat-error *ngIf = "getControls('projectCode').invalid" >
	  {{ getControls('projectCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ تسليم ابتدائي</mat-label>
	 <input matInput
	  [matDatepicker] = "primaryDeliveryDateDatepicker"
	  autocomplete = "off"
	  formControlName= "primaryDeliveryDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="primaryDeliveryDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #primaryDeliveryDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('primaryDeliveryDate').invalid" >
	  {{ getControls('primaryDeliveryDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ تسليم نهائي</mat-label>
	 <input matInput
	  [matDatepicker] = "finalDeliveryDateDatepicker"
	  autocomplete = "off"
	  formControlName= "finalDeliveryDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="finalDeliveryDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #finalDeliveryDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('finalDeliveryDate').invalid" >
	  {{ getControls('finalDeliveryDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #constructionType 
	  [options] = "constructionTypeSelectOptions"
	  formControlName = "constructionType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #deliveryType 
	  [options] = "deliveryTypeSelectOptions"
	  formControlName = "deliveryType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getPrimaryAndFinalDeliveryDatesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
