
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات الملاعب '"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الملعب</mat-label>
	 <input matInput formControlName="playgroundNumber"/>
	 <mat-error *ngIf = "getControls('playgroundNumber').invalid" >
	  {{ getControls('playgroundNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #playgroundType 
	  [options] = "playgroundTypeSelectOptions"
	  formControlName = "playgroundType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #landType 
	  [options] = "landTypeSelectOptions"
	  formControlName = "landType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #status 
	  [options] = "statusSelectOptions"
	  formControlName = "status"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getPlaygroundsDataPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
