
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات المقايسة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم المقايسة</mat-label>
	 <input matInput formControlName="assayNumber"/>
	 <mat-error *ngIf = "getControls('assayNumber').invalid" >
	  {{ getControls('assayNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مده التوريد</mat-label>
	 <input matInput formControlName="supplyingDuration"/>
	 <mat-error *ngIf = "getControls('supplyingDuration').invalid" >
	  {{ getControls('supplyingDuration')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #processingType 
	  [options] = "processingTypeSelectOptions"
	  formControlName = "processingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringMethod 
	  [options] = "offeringMethodSelectOptions"
	  formControlName = "offeringMethod"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringTerms 
	  [options] = "offeringTermsSelectOptions"
	  formControlName = "offeringTerms"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getAssayDataPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
