
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'موقف المكاتب الواردة من هيئة البريد'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>سنة ورود المكتب من هيئة البريد</mat-label>
	 <input matInput
	  [matDatepicker] = "postOfficeReceiptYearDatepicker"
	  autocomplete = "off"
	  formControlName= "postOfficeReceiptYear"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="postOfficeReceiptYearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #postOfficeReceiptYearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('postOfficeReceiptYear').invalid" >
	  {{ getControls('postOfficeReceiptYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الرقم التعريفي</mat-label>
	 <input matInput formControlName="iD"/>
	 <mat-error *ngIf = "getControls('iD').invalid" >
	  {{ getControls('iD')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #governorate 
	  [options] = "governorateSelectOptions"
	  formControlName = "governorate"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getThePositionOfTheOfficesReceivedFromThePostOfficePaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
