button {
    margin: 1px !important;
    min-width: 35px !important;
    padding: 1px !important;
    width: 35px !important;
}

.edit {
    background-color: cadetblue !important;
}

.view {
    background-color: lightgray !important;
}

.delete {
    background-color: cadetblue !important;
}