
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'كود صندوق التكافل الاجتماعي'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "socialSolidarityFundCodesForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>نوع الكود</mat-label>
	 <input matInput formControlName="codeType"/>
	 <mat-error *ngIf = "getControls('codeType').invalid" >
	  {{ getControls('codeType')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود البيان</mat-label>
	 <input matInput formControlName="statementCode"/>
	 <mat-error *ngIf = "getControls('statementCode').invalid" >
	  {{ getControls('statementCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "socialSolidarityFundCodesService" [id]="socialSolidarityFundCodesForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="socialSolidarityFundCodesForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

