
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'الغاء من خطه الصيانه'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "cancelFromTheMaintenancePlanForm">
         

	<mat-form-field appearance="outline">
	 <mat-label> الرقم التعريفي</mat-label>
	 <input matInput formControlName="buildinNumber"/>
	 <mat-error *ngIf = "getControls('buildinNumber').invalid" >
	  {{ getControls('buildinNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> سنه الخطه</mat-label>
	 <input matInput
	  [matDatepicker] = "planYearDatepicker"
	  autocomplete = "off"
	  formControlName= "planYear"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="planYearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #planYearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('planYear').invalid" >
	  {{ getControls('planYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> نوع الصيانه</mat-label>
	 <input matInput formControlName="maintenanceType"/>
	 <mat-error *ngIf = "getControls('maintenanceType').invalid" >
	  {{ getControls('maintenanceType')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سبب الاستبعاد</mat-label>
	 <input matInput formControlName="exclusionReason"/>
	 <mat-error *ngIf = "getControls('exclusionReason').invalid" >
	  {{ getControls('exclusionReason')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "cancelFromTheMaintenancePlanService" [id]="cancelFromTheMaintenancePlanForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="cancelFromTheMaintenancePlanForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

