
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              ماكينة متربطه بالمعمل
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "machineLinkedToTheLaboratoryForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الماكينة</mat-label>
	 <input matInput formControlName="machineCode"/>
	 <mat-error *ngIf = "getControls('machineCode').invalid" >
	  {{ getControls('machineCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الماكينة</mat-label>
	 <input matInput formControlName="machineName"/>
	 <mat-error *ngIf = "getControls('machineName').invalid" >
	  {{ getControls('machineName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #laboratoryCode 
	  [options] = "laboratoryCodeSelectOptions"
	  formControlName = "laboratoryCode"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "machineLinkedToTheLaboratoryService" [id]="machineLinkedToTheLaboratoryForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    