
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات الصب لعينات لاعمال الغير'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم طلب الاختبار</mat-label>
	 <input matInput formControlName="testOrderNumber"/>
	 <mat-error *ngIf = "getControls('testOrderNumber').invalid" >
	  {{ getControls('testOrderNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #constructionType 
	  [options] = "constructionTypeSelectOptions"
	  formControlName = "constructionType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #elementCode 
	  [options] = "elementCodeSelectOptions"
	  formControlName = "elementCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getCastingDataForSamplesForTheWorkOfOthersPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
