
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'اضافه  تنفيذ الصيانه'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "addMaintenanceImplementationForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>الفتره</mat-label>
	 <input matInput
	  [matDatepicker] = "periodDatepicker"
	  autocomplete = "off"
	  formControlName= "period"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="periodDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #periodDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('period').invalid" >
	  {{ getControls('period')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>القائم بالصيانه</mat-label>
	 <input matInput formControlName="maintainer"/>
	 <mat-error *ngIf = "getControls('maintainer').invalid" >
	  {{ getControls('maintainer')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المبنى</mat-label>
	 <input matInput formControlName="building"/>
	 <mat-error *ngIf = "getControls('building').invalid" >
	  {{ getControls('building')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقمه</mat-label>
	 <input matInput formControlName="code"/>
	 <mat-error *ngIf = "getControls('code').invalid" >
	  {{ getControls('code')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ المخطط</mat-label>
	 <input matInput
	  [matDatepicker] = "plannedDateDatepicker"
	  autocomplete = "off"
	  formControlName= "plannedDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="plannedDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #plannedDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('plannedDate').invalid" >
	  {{ getControls('plannedDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ فعلى</mat-label>
	 <input matInput
	  [matDatepicker] = "actualDateDatepicker"
	  autocomplete = "off"
	  formControlName= "actualDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="actualDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #actualDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('actualDate').invalid" >
	  {{ getControls('actualDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>حاله</mat-label>
	 <input matInput formControlName="case"/>
	 <mat-error *ngIf = "getControls('case').invalid" >
	  {{ getControls('case')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #region 
	  [options] = "regionSelectOptions"
	  formControlName = "region"
	></app-material-select>

	<app-material-select appearance="outline"
	  #laboratoryType 
	  [options] = "laboratoryTypeSelectOptions"
	  formControlName = "laboratoryType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #doNotExecute 
	  [options] = "doNotExecuteSelectOptions"
	  formControlName = "doNotExecute"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "addMaintenanceImplementationService" [id]="addMaintenanceImplementationForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="addMaintenanceImplementationForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

