
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              الجهات الخارجية المجهزة للمدراس
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "externalBodiesEquippedForSchoolsForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المورد</mat-label>
	 <input matInput formControlName="supplierCode"/>
	 <mat-error *ngIf = "getControls('supplierCode').invalid" >
	  {{ getControls('supplierCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المورد</mat-label>
	 <input matInput formControlName="supplierName"/>
	 <mat-error *ngIf = "getControls('supplierName').invalid" >
	  {{ getControls('supplierName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "externalBodiesEquippedForSchoolsService" [id]="externalBodiesEquippedForSchoolsForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    