
<mat-card>
    <mat-card-header>
        <mat-card-title>التجهيز</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="processingForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل الملحق</mat-label>
	 <input matInput formControlName="serialSupplement"/>
	 <mat-error *ngIf = "getControls('serialSupplement').invalid" >
	  {{ getControls('serialSupplement')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الدور</mat-label>
	 <input matInput formControlName="floorNumber"/>
	 <mat-error *ngIf = "getControls('floorNumber').invalid" >
	  {{ getControls('floorNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>العدد من التجهيز</mat-label>
	 <input matInput formControlName="processingNumber"/>
	 <mat-error *ngIf = "getControls('processingNumber').invalid" >
	  {{ getControls('processingNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline" [disabled]="true" 
	  #regionalCenterCode 
	  [options] = "regionalCenterCodeSelectOptions"
	  formControlName = "regionalCenterCode"
	></app-material-select>

	<app-material-select appearance="outline" [disabled]="true" 
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #spaceCode 
	  [options] = "spaceCodeSelectOptions"
	  formControlName = "spaceCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #processingType 
	  [options] = "processingTypeSelectOptions"
	  formControlName = "processingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #processingState 
	  [options] = "processingStateSelectOptions"
	  formControlName = "processingState"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "processingService" [id]="processingForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "processingForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

