
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات الادوية</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="drugsInformationForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>اسم الدواء</mat-label>
	 <input matInput formControlName="drugName"/>
	 <mat-error *ngIf = "getControls('drugName').invalid" >
	  {{ getControls('drugName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الدواء</mat-label>
	 <input matInput formControlName="drugCode"/>
	 <mat-error *ngIf = "getControls('drugCode').invalid" >
	  {{ getControls('drugCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الكميه</mat-label>
	 <input matInput formControlName="quantity"/>
	 <mat-error *ngIf = "getControls('quantity').invalid" >
	  {{ getControls('quantity')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>جهه المورد</mat-label>
	 <input matInput formControlName="supplier"/>
	 <mat-error *ngIf = "getControls('supplier').invalid" >
	  {{ getControls('supplier')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مكان التخزين</mat-label>
	 <input matInput formControlName="storagePlace"/>
	 <mat-error *ngIf = "getControls('storagePlace').invalid" >
	  {{ getControls('storagePlace')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "drugsInformationService" [id]="drugsInformationForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "drugsInformationForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

