
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'ربط البند بانشطة الجدول الزمني '"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود النشاط</mat-label>
	 <input matInput formControlName="activityCode"/>
	 <mat-error *ngIf = "getControls('activityCode').invalid" >
	  {{ getControls('activityCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #itemCode 
	  [options] = "itemCodeSelectOptions"
	  formControlName = "itemCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getBindingItemWithScheduleActivitiesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
