
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'رد الهيئة علي الجريدة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "authorityResponseToNewspaperForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ النشر</mat-label>
	 <input matInput
	  [matDatepicker] = "publicationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "publicationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="publicationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #publicationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('publicationDate').invalid" >
	  {{ getControls('publicationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الصفحة</mat-label>
	 <input matInput formControlName="pageNumber"/>
	 <mat-error *ngIf = "getControls('pageNumber').invalid" >
	  {{ getControls('pageNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عنوان الخبر</mat-label>
	 <input matInput formControlName="newsTitle"/>
	 <mat-error *ngIf = "getControls('newsTitle').invalid" >
	  {{ getControls('newsTitle')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ رد الهيئة</mat-label>
	 <input matInput
	  [matDatepicker] = "authorityrReplyDateDatepicker"
	  autocomplete = "off"
	  formControlName= "authorityrReplyDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="authorityrReplyDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #authorityrReplyDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('authorityrReplyDate').invalid" >
	  {{ getControls('authorityrReplyDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #publisherCode 
	  [options] = "publisherCodeSelectOptions"
	  formControlName = "publisherCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #publicationCodePlace 
	  [options] = "publicationCodePlaceSelectOptions"
	  formControlName = "publicationCodePlace"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "authorityResponseToNewspaperService" [id]="authorityResponseToNewspaperForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="authorityResponseToNewspaperForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

