
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات وحدات قياس'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>اسم وحدة القياس</mat-label>
	 <input matInput formControlName="measurementNameUnit"/>
	 <mat-error *ngIf = "getControls('measurementNameUnit').invalid" >
	  {{ getControls('measurementNameUnit')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #calibrationUnitCode 
	  [options] = "calibrationUnitCodeSelectOptions"
	  formControlName = "calibrationUnitCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #measurementCodeUnit 
	  [options] = "measurementCodeUnitSelectOptions"
	  formControlName = "measurementCodeUnit"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getDataUnitsOfMeasurementPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
