
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'نقل عهده موظف لاخر'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم الموظف الناقل </mat-label>
	 <input matInput formControlName="carrierEmployeeNumber"/>
	 <mat-error *ngIf = "getControls('carrierEmployeeNumber').invalid" >
	  {{ getControls('carrierEmployeeNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم الموظف المستلم  </mat-label>
	 <input matInput formControlName="recipientEmployeeNumber"/>
	 <mat-error *ngIf = "getControls('recipientEmployeeNumber').invalid" >
	  {{ getControls('recipientEmployeeNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الصنف </mat-label>
	 <input matInput formControlName="itemNo"/>
	 <mat-error *ngIf = "getControls('itemNo').invalid" >
	  {{ getControls('itemNo')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم المخزن </mat-label>
	 <input matInput formControlName="storeNumber"/>
	 <mat-error *ngIf = "getControls('storeNumber').invalid" >
	  {{ getControls('storeNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم اذن الصرف</mat-label>
	 <input matInput formControlName="exchangeAuthorizationNumber"/>
	 <mat-error *ngIf = "getControls('exchangeAuthorizationNumber').invalid" >
	  {{ getControls('exchangeAuthorizationNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الصرف </mat-label>
	 <input matInput
	  [matDatepicker] = "exchangeDateDatepicker"
	  autocomplete = "off"
	  formControlName= "exchangeDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="exchangeDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #exchangeDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('exchangeDate').invalid" >
	  {{ getControls('exchangeDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ النقل</mat-label>
	 <input matInput
	  [matDatepicker] = "transferDateDatepicker"
	  autocomplete = "off"
	  formControlName= "transferDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="transferDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #transferDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('transferDate').invalid" >
	  {{ getControls('transferDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #itemCondition 
	  [options] = "itemConditionSelectOptions"
	  formControlName = "itemCondition"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getTransferHisCustodyEmployeeToAnotherPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
