
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'بيانات الاستمرار للعاملين بالهيئة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "continuityDataForAuthorityEmployeeForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>يوم الاستمرار</mat-label>
	 <input matInput
	  [matDatepicker] = "continueDayDatepicker"
	  autocomplete = "off"
	  formControlName= "continueDay"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="continueDayDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #continueDayDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('continueDay').invalid" >
	  {{ getControls('continueDay')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #centralAdministration 
	  [options] = "centralAdministrationSelectOptions"
	  formControlName = "centralAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #subAdministration 
	  [options] = "subAdministrationSelectOptions"
	  formControlName = "subAdministration"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "continuityDataForAuthorityEmployeeService" [id]="continuityDataForAuthorityEmployeeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="continuityDataForAuthorityEmployeeForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

