
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'ربط مصدر الخطة بمصدر الموازنة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "linkThePlanSourceToTheBudgetSourceForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>سنة الخطة</mat-label>
	 <input matInput
	  [matDatepicker] = "yearPlanDatepicker"
	  autocomplete = "off"
	  formControlName= "yearPlan"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="yearPlanDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #yearPlanDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('yearPlan').invalid" >
	  {{ getControls('yearPlan')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #fundingSourceCode 
	  [options] = "fundingSourceCodeSelectOptions"
	  formControlName = "fundingSourceCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #budgetSourceCode 
	  [options] = "budgetSourceCodeSelectOptions"
	  formControlName = "budgetSourceCode"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "linkThePlanSourceToTheBudgetSourceService" [id]="linkThePlanSourceToTheBudgetSourceForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="linkThePlanSourceToTheBudgetSourceForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

