
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'الاسعار للبنود المستجدة (طلب تسعير بنود)'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مسلسل الطلب</mat-label>
	 <input matInput formControlName="requestSerial"/>
	 <mat-error *ngIf = "getControls('requestSerial').invalid" >
	  {{ getControls('requestSerial')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنة الخطة</mat-label>
	 <input matInput formControlName="planYear"/>
	 <mat-error *ngIf = "getControls('planYear').invalid" >
	  {{ getControls('planYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المناقصة</mat-label>
	 <input matInput formControlName="bidNumber"/>
	 <mat-error *ngIf = "getControls('bidNumber').invalid" >
	  {{ getControls('bidNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نوع النشاط</mat-label>
	 <input matInput formControlName="activityType"/>
	 <mat-error *ngIf = "getControls('activityType').invalid" >
	  {{ getControls('activityType')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نشاط فرعي</mat-label>
	 <input matInput formControlName="subActivity"/>
	 <mat-error *ngIf = "getControls('subActivity').invalid" >
	  {{ getControls('subActivity')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #constructionType 
	  [options] = "constructionTypeSelectOptions"
	  formControlName = "constructionType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringType 
	  [options] = "offeringTypeSelectOptions"
	  formControlName = "offeringType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #workType 
	  [options] = "workTypeSelectOptions"
	  formControlName = "workType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getPricesForNewItemsPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
