
<mat-card>
    <mat-card-header>
        <mat-card-title>البيانات الاساسية </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="basicDataLoggingForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ النشر</mat-label>
	 <input matInput
	  [matDatepicker] = "publicationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "publicationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="publicationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #publicationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('publicationDate').invalid" >
	  {{ getControls('publicationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الصفحة</mat-label>
	 <input matInput formControlName="pageNumber"/>
	 <mat-error *ngIf = "getControls('pageNumber').invalid" >
	  {{ getControls('pageNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الكاتب</mat-label>
	 <input matInput formControlName="authorName"/>
	 <mat-error *ngIf = "getControls('authorName').invalid" >
	  {{ getControls('authorName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم العدد</mat-label>
	 <input matInput formControlName="number"/>
	 <mat-error *ngIf = "getControls('number').invalid" >
	  {{ getControls('number')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #publisherCode 
	  [options] = "publisherCodeSelectOptions"
	  formControlName = "publisherCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #publicationCodePlace 
	  [options] = "publicationCodePlaceSelectOptions"
	  formControlName = "publicationCodePlace"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "basicDataLoggingService" [id]="basicDataLoggingForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "basicDataLoggingForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

