
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات الدراسات التربوية'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم التسجيل</mat-label>
	 <input matInput formControlName="registrationNumber"/>
	 <mat-error *ngIf = "getControls('registrationNumber').invalid" >
	  {{ getControls('registrationNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #educationalAdministration 
	  [options] = "educationalAdministrationSelectOptions"
	  formControlName = "educationalAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #department 
	  [options] = "departmentSelectOptions"
	  formControlName = "department"
	></app-material-select>

	<app-material-select appearance="outline"
	  #regionPopulationDensity 
	  [options] = "regionPopulationDensitySelectOptions"
	  formControlName = "regionPopulationDensity"
	></app-material-select>

	<app-material-select appearance="outline"
	  #regionAdministrativeClassification 
	  [options] = "regionAdministrativeClassificationSelectOptions"
	  formControlName = "regionAdministrativeClassification"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getDataOfEducationalStudiesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
