
<mat-card>
    <mat-card-header>
        <mat-card-title>(اكواد الدوره (الفرعيه</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="sessionSubCodesForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>اسم الدوره</mat-label>
	 <input matInput formControlName="courseName"/>
	 <mat-error *ngIf = "getControls('courseName').invalid" >
	  {{ getControls('courseName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #majorClassification 
	  [options] = "majorClassificationSelectOptions"
	  formControlName = "majorClassification"
	></app-material-select>

	<app-material-select appearance="outline"
	  #subcategory 
	  [options] = "subcategorySelectOptions"
	  formControlName = "subcategory"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "sessionSubCodesService" [id]="sessionSubCodesForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "sessionSubCodesForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

