
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات ملاحظات لجنة المراجعة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود قطعة الارض</mat-label>
	 <input matInput formControlName="landID"/>
	 <mat-error *ngIf = "getControls('landID').invalid" >
	  {{ getControls('landID')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم اللجنة</mat-label>
	 <input matInput formControlName="committeeNumber"/>
	 <mat-error *ngIf = "getControls('committeeNumber').invalid" >
	  {{ getControls('committeeNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود ملاحظة المراجعة</mat-label>
	 <input matInput formControlName="reviewNoteCode"/>
	 <mat-error *ngIf = "getControls('reviewNoteCode').invalid" >
	  {{ getControls('reviewNoteCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getStatementsByTheAuditCommitteePaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
