
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'اكواد سبب انهاء اسناد محامي لقضية'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>الكود</mat-label>
	 <input matInput formControlName="code"/>
	 <mat-error *ngIf = "getControls('code').invalid" >
	  {{ getControls('code')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الاسم</mat-label>
	 <input matInput formControlName="name"/>
	 <mat-error *ngIf = "getControls('name').invalid" >
	  {{ getControls('name')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getCodesOfReasonForTerminationPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
