
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'بيانات التخصص'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "specializationDataForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>السنه الماليه</mat-label>
	 <input matInput
	  [matDatepicker] = "fiscalYearDatepicker"
	  autocomplete = "off"
	  formControlName= "fiscalYear"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="fiscalYearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #fiscalYearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('fiscalYear').invalid" >
	  {{ getControls('fiscalYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الصنف</mat-label>
	 <input matInput formControlName="product"/>
	 <mat-error *ngIf = "getControls('product').invalid" >
	  {{ getControls('product')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المخصص</mat-label>
	 <input matInput formControlName="allocated"/>
	 <mat-error *ngIf = "getControls('allocated').invalid" >
	  {{ getControls('allocated')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>ما تم صرفه</mat-label>
	 <input matInput formControlName="spent"/>
	 <mat-error *ngIf = "getControls('spent').invalid" >
	  {{ getControls('spent')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #administrationOrRegion 
	  [options] = "administrationOrRegionSelectOptions"
	  formControlName = "administrationOrRegion"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "specializationDataService" [id]="specializationDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="specializationDataForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

