
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              نوع النشاط
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "activityTypeForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>الكود</mat-label>
	 <input matInput formControlName="code"/>
	 <mat-error *ngIf = "getControls('code').invalid" >
	  {{ getControls('code')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الاسم</mat-label>
	 <input matInput formControlName="name"/>
	 <mat-error *ngIf = "getControls('name').invalid" >
	  {{ getControls('name')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #workType 
	  [options] = "workTypeSelectOptions"
	  formControlName = "workType"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "activityTypeService" [id]="activityTypeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    