
<mat-card>
    <mat-card-header>
        <mat-card-title>كود صندوق التكافل الاجتماعي</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="socialSolidarityFundCodesForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>نوع الكود</mat-label>
	 <input matInput formControlName="codeType"/>
	 <mat-error *ngIf = "getControls('codeType').invalid" >
	  {{ getControls('codeType')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود البيان</mat-label>
	 <input matInput formControlName="statementCode"/>
	 <mat-error *ngIf = "getControls('statementCode').invalid" >
	  {{ getControls('statementCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "socialSolidarityFundCodesService" [id]="socialSolidarityFundCodesForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "socialSolidarityFundCodesForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

