
<mat-card>
    <mat-card-header>
        <mat-card-title>تعريف نموذج جديد </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="defineANewModelForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود النموذج</mat-label>
	 <input matInput formControlName="modelCode"/>
	 <mat-error *ngIf = "getControls('modelCode').invalid" >
	  {{ getControls('modelCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اسم النموذج </mat-label>
	 <input matInput formControlName="modelName"/>
	 <mat-error *ngIf = "getControls('modelName').invalid" >
	  {{ getControls('modelName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "defineANewModelService" [id]="defineANewModelForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "defineANewModelForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

