
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'التسكين الوظيفى للادارات الهيئه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>الموظف التابع للاداره</mat-label>
	 <input matInput formControlName="departmentEmployee"/>
	 <mat-error *ngIf = "getControls('departmentEmployee').invalid" >
	  {{ getControls('departmentEmployee')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ التسكين</mat-label>
	 <input matInput
	  [matDatepicker] = "analgesiaDateDatepicker"
	  autocomplete = "off"
	  formControlName= "analgesiaDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="analgesiaDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #analgesiaDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('analgesiaDate').invalid" >
	  {{ getControls('analgesiaDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #centralAdministration 
	  [options] = "centralAdministrationSelectOptions"
	  formControlName = "centralAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #subAdministration 
	  [options] = "subAdministrationSelectOptions"
	  formControlName = "subAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #jobDwellingonthem 
	  [options] = "jobDwellingonthemSelectOptions"
	  formControlName = "jobDwellingonthem"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getJobPlacementOfTheDepartmentsOfTheBodyPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
