
<mat-card>
    <mat-card-header>
        <mat-card-title>كلمة سر للمهندس المشرف</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="passwordForTheSupervisorEngineerForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم المهندس المختص</mat-label>
	 <input matInput formControlName="specializedEngineerNumber"/>
	 <mat-error *ngIf = "getControls('specializedEngineerNumber').invalid" >
	  {{ getControls('specializedEngineerNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كلمة المرور</mat-label>
	 <input matInput formControlName="password"/>
	 <mat-error *ngIf = "getControls('password').invalid" >
	  {{ getControls('password')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "passwordForTheSupervisorEngineerService" [id]="passwordForTheSupervisorEngineerForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "passwordForTheSupervisorEngineerForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

