
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'الخدمات المطلوبة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ الطلب </mat-label>
	 <input matInput
	  [matDatepicker] = "applicationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "applicationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="applicationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #applicationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('applicationDate').invalid" >
	  {{ getControls('applicationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم الطلب</mat-label>
	 <input matInput formControlName="orderNumber"/>
	 <mat-error *ngIf = "getControls('orderNumber').invalid" >
	  {{ getControls('orderNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اسم المدرسة</mat-label>
	 <input matInput formControlName="schoolName"/>
	 <mat-error *ngIf = "getControls('schoolName').invalid" >
	  {{ getControls('schoolName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> مساحة الارض</mat-label>
	 <input matInput formControlName="landArea"/>
	 <mat-error *ngIf = "getControls('landArea').invalid" >
	  {{ getControls('landArea')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> النسبة البنائية</mat-label>
	 <input matInput formControlName="structuralRatio"/>
	 <mat-error *ngIf = "getControls('structuralRatio').invalid" >
	  {{ getControls('structuralRatio')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> عدد الادوار </mat-label>
	 <input matInput formControlName="floorsNumber"/>
	 <mat-error *ngIf = "getControls('floorsNumber').invalid" >
	  {{ getControls('floorsNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  نوع  الخدمة</mat-label>
	 <input matInput formControlName="serviceType"/>
	 <mat-error *ngIf = "getControls('serviceType').invalid" >
	  {{ getControls('serviceType')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> كود الخدمة</mat-label>
	 <input matInput formControlName="serviceCode"/>
	 <mat-error *ngIf = "getControls('serviceCode').invalid" >
	  {{ getControls('serviceCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اسم الخدمة</mat-label>
	 <input matInput formControlName="serviceName"/>
	 <mat-error *ngIf = "getControls('serviceName').invalid" >
	  {{ getControls('serviceName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> النسبة المطلوبة مقدما</mat-label>
	 <input matInput formControlName="advanceRequiredRatio"/>
	 <mat-error *ngIf = "getControls('advanceRequiredRatio').invalid" >
	  {{ getControls('advanceRequiredRatio')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #entityName 
	  [options] = "entityNameSelectOptions"
	  formControlName = "entityName"
	></app-material-select>

	<app-material-select appearance="outline"
	  #governorate 
	  [options] = "governorateSelectOptions"
	  formControlName = "governorate"
	></app-material-select>

	<app-material-select appearance="outline"
	  #centerOrSection 
	  [options] = "centerOrSectionSelectOptions"
	  formControlName = "centerOrSection"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getRequiredServicesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
