
<mat-card>
    <mat-card-header>
        <mat-card-title>البدل</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="allowanceForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نوع البدل</mat-label>
	 <input matInput formControlName="‎AllowancesType"/>
	 <mat-error *ngIf = "getControls('‎AllowancesType').invalid" >
	  {{ getControls('‎AllowancesType')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>قيمه البدل</mat-label>
	 <input matInput formControlName="allowancesAmount"/>
	 <mat-error *ngIf = "getControls('allowancesAmount').invalid" >
	  {{ getControls('allowancesAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "allowanceService" [id]="allowanceForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "allowanceForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

