
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'فتح مقايسة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الملحق</mat-label>
	 <input matInput formControlName="extensionCode"/>
	 <mat-error *ngIf = "getControls('extensionCode').invalid" >
	  {{ getControls('extensionCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنة الخطة</mat-label>
	 <input matInput formControlName="planYear"/>
	 <mat-error *ngIf = "getControls('planYear').invalid" >
	  {{ getControls('planYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنة التسعير</mat-label>
	 <input matInput formControlName="pricingYear"/>
	 <mat-error *ngIf = "getControls('pricingYear').invalid" >
	  {{ getControls('pricingYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود البند</mat-label>
	 <input matInput formControlName="itemCode"/>
	 <mat-error *ngIf = "getControls('itemCode').invalid" >
	  {{ getControls('itemCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم البند</mat-label>
	 <input matInput formControlName="itemName"/>
	 <mat-error *ngIf = "getControls('itemName').invalid" >
	  {{ getControls('itemName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الكمية</mat-label>
	 <input matInput formControlName="quantity"/>
	 <mat-error *ngIf = "getControls('quantity').invalid" >
	  {{ getControls('quantity')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>السعر</mat-label>
	 <input matInput formControlName="price"/>
	 <mat-error *ngIf = "getControls('price').invalid" >
	  {{ getControls('price')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #modelCode 
	  [options] = "modelCodeSelectOptions"
	  formControlName = "modelCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #constructionType 
	  [options] = "constructionTypeSelectOptions"
	  formControlName = "constructionType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #jopType 
	  [options] = "jopTypeSelectOptions"
	  formControlName = "jopType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getIndexationOpeningPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
