
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'حالة الموظف'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "employeeStatusForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ بداية الحالة</mat-label>
	 <input matInput
	  [matDatepicker] = "statusStartDateDatepicker"
	  autocomplete = "off"
	  formControlName= "statusStartDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="statusStartDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #statusStartDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('statusStartDate').invalid" >
	  {{ getControls('statusStartDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #status 
	  [options] = "statusSelectOptions"
	  formControlName = "status"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "employeeStatusService" [id]="employeeStatusForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="employeeStatusForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

