
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'الجداول الزمنية للتنفيذ- بيانات الجدول الزمني'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "implementationDataScheduleForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>الكود</mat-label>
	 <input matInput formControlName="scheduleCode"/>
	 <mat-error *ngIf = "getControls('scheduleCode').invalid" >
	  {{ getControls('scheduleCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مدة التنفيذ</mat-label>
	 <input matInput formControlName="executionDuration"/>
	 <mat-error *ngIf = "getControls('executionDuration').invalid" >
	  {{ getControls('executionDuration')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عدد الأدوار</mat-label>
	 <input matInput formControlName="floorsNumber"/>
	 <mat-error *ngIf = "getControls('floorsNumber').invalid" >
	  {{ getControls('floorsNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #baseType 
	  [options] = "baseTypeSelectOptions"
	  formControlName = "baseType"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "implementationDataScheduleService" [id]="implementationDataScheduleForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="implementationDataScheduleForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

