
<mat-card class="form-card">
      <mat-card-header>
  
          <mat-card-title>
              التسكين الوظيفى للادارات الهيئه
          </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup] = "jobPlacementOfTheDepartmentsOfTheBodyForm" class="form-container">
         

	<mat-form-field appearance="outline">
	 <mat-label>الموظف التابع للاداره</mat-label>
	 <input matInput formControlName="departmentEmployee"/>
	 <mat-error *ngIf = "getControls('departmentEmployee').invalid" >
	  {{ getControls('departmentEmployee')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ التسكين</mat-label>
	 <input matInput
	  [matDatepicker] = "analgesiaDateDatepicker"
	  autocomplete = "off"
	  formControlName= "analgesiaDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="analgesiaDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #analgesiaDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('analgesiaDate').invalid" >
	  {{ getControls('analgesiaDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #centralAdministration 
	  [options] = "centralAdministrationSelectOptions"
	  formControlName = "centralAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #subAdministration 
	  [options] = "subAdministrationSelectOptions"
	  formControlName = "subAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #jobDwellingonthem 
	  [options] = "jobDwellingonthemSelectOptions"
	  formControlName = "jobDwellingonthem"
	></app-material-select>
        </form>
  
      </mat-card-content >
  
      <mat-action-row>
            <form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "jobPlacementOfTheDepartmentsOfTheBodyService" [id]="jobPlacementOfTheDepartmentsOfTheBodyForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button (click) = "onConfirm()" mat-raised-button color = "primary" >
                غلق
            </button>
        </mat-action-row>
    </mat-card>

    