
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'تسجيل موقف اعمال التدريب الداخلي'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "recordThePositionOfTheInternshipForm">
         

	<mat-form-field appearance="outline">
	 <mat-label> التاريخ</mat-label>
	 <input matInput
	  [matDatepicker] = "dateDatepicker"
	  autocomplete = "off"
	  formControlName= "date"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('date').invalid" >
	  {{ getControls('date')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم التدريب</mat-label>
	 <input matInput formControlName="trainingNumber"/>
	 <mat-error *ngIf = "getControls('trainingNumber').invalid" >
	  {{ getControls('trainingNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> موضوع التدريب</mat-label>
	 <input matInput formControlName="trainingTopic"/>
	 <mat-error *ngIf = "getControls('trainingTopic').invalid" >
	  {{ getControls('trainingTopic')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #administrationCode 
	  [options] = "administrationCodeSelectOptions"
	  formControlName = "administrationCode"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "recordThePositionOfTheInternshipService" [id]="recordThePositionOfTheInternshipForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="recordThePositionOfTheInternshipForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

