
<mat-card>
    <mat-card-header>
        <mat-card-title>كود ممثل الشركات المعتمده</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="codeOfApprovedCompaniesRepresentativeForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود الصفة</mat-label>
	 <input matInput formControlName="objectiveCode"/>
	 <mat-error *ngIf = "getControls('objectiveCode').invalid" >
	  {{ getControls('objectiveCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الصفة</mat-label>
	 <input matInput formControlName="objectiveName"/>
	 <mat-error *ngIf = "getControls('objectiveName').invalid" >
	  {{ getControls('objectiveName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "codeOfApprovedCompaniesRepresentativeService" [id]="codeOfApprovedCompaniesRepresentativeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "codeOfApprovedCompaniesRepresentativeForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

