
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'المشاريع'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المشروع</mat-label>
	 <input matInput formControlName="projectCode"/>
	 <mat-error *ngIf = "getControls('projectCode').invalid" >
	  {{ getControls('projectCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>وصف المشروع</mat-label>
	 <input matInput formControlName="projectDesc"/>
	 <mat-error *ngIf = "getControls('projectDesc').invalid" >
	  {{ getControls('projectDesc')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getProjectsPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
