
<mat-card>
    <mat-card-header>
        <mat-card-title>الطرق الرئيسية</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="theMainRoadsForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الطريق الرئيسي</mat-label>
	 <input matInput formControlName="mainRoadNumber"/>
	 <mat-error *ngIf = "getControls('mainRoadNumber').invalid" >
	  {{ getControls('mainRoadNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عرض الطريق</mat-label>
	 <input matInput formControlName="roadWidth"/>
	 <mat-error *ngIf = "getControls('roadWidth').invalid" >
	  {{ getControls('roadWidth')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الاستعمال</mat-label>
	 <input matInput formControlName="usage"/>
	 <mat-error *ngIf = "getControls('usage').invalid" >
	  {{ getControls('usage')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم الطريق</mat-label>
	 <input matInput formControlName="theNameOfTheRoad"/>
	 <mat-error *ngIf = "getControls('theNameOfTheRoad').invalid" >
	  {{ getControls('theNameOfTheRoad')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #centerCode 
	  [options] = "centerCodeSelectOptions"
	  formControlName = "centerCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #mainRoadStatusCode 
	  [options] = "mainRoadStatusCodeSelectOptions"
	  formControlName = "mainRoadStatusCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #movementDirectionCode 
	  [options] = "movementDirectionCodeSelectOptions"
	  formControlName = "movementDirectionCode"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "theMainRoadsService" [id]="theMainRoadsForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "theMainRoadsForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

