
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات المشتركين</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="subscriberDataForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label> كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ الميلاد</mat-label>
	 <input matInput
	 [disableControl]="true" 
	  [matDatepicker] = "birthDateDatepicker"
	  autocomplete = "off"
	  formControlName= "birthDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="birthDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #birthDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('birthDate').invalid" >
	  {{ getControls('birthDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ التعيين</mat-label>
	 <input matInput
	 [disableControl]="true" 
	  [matDatepicker] = "hiringDateDatepicker"
	  autocomplete = "off"
	  formControlName= "hiringDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="hiringDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #hiringDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('hiringDate').invalid" >
	  {{ getControls('hiringDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>   تاريخ الاشتراك</mat-label>
	 <input matInput
	  [matDatepicker] = "subscriptionDateDatepicker"
	  autocomplete = "off"
	  formControlName= "subscriptionDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="subscriptionDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #subscriptionDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('subscriptionDate').invalid" >
	  {{ getControls('subscriptionDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم العضوية</mat-label>
	 <input matInput formControlName="membershipNo"/>
	 <mat-error *ngIf = "getControls('membershipNo').invalid" >
	  {{ getControls('membershipNo')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #admistrationCode 
	  [options] = "admistrationCodeSelectOptions"
	  formControlName = "admistrationCode"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "subscriberDataService" [id]="subscriberDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "subscriberDataForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

