
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'اشتراكات الصندوق عن سنوات سابقه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>حالة الاشتراك</mat-label>
	 <input matInput formControlName="subscriptionStatus"/>
	 <mat-error *ngIf = "getControls('subscriptionStatus').invalid" >
	  {{ getControls('subscriptionStatus')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم عضويه</mat-label>
	 <input matInput formControlName="membershipNumber"/>
	 <mat-error *ngIf = "getControls('membershipNumber').invalid" >
	  {{ getControls('membershipNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنة الاشتراك</mat-label>
	 <input matInput formControlName="subscriptionYear"/>
	 <mat-error *ngIf = "getControls('subscriptionYear').invalid" >
	  {{ getControls('subscriptionYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getContributionsOfTheFundForPreviousYearsPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
