
<mat-card>
    <mat-card-header>
        <mat-card-title>اضافه مامورية</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="additionalMissionForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اجمالي اضافي الماموريات (بالدقيقة)</mat-label>
	 <input matInput formControlName="totalExtraWork"/>
	 <mat-error *ngIf = "getControls('totalExtraWork').invalid" >
	  {{ getControls('totalExtraWork')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اجمالي فترات العمل المسائيه (بالدقيقة)</mat-label>
	 <input matInput formControlName="eveningTotalWorkingHour"/>
	 <mat-error *ngIf = "getControls('eveningTotalWorkingHour').invalid" >
	  {{ getControls('eveningTotalWorkingHour')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #centralAdministration 
	  [options] = "centralAdministrationSelectOptions"
	  formControlName = "centralAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #subAdministration 
	  [options] = "subAdministrationSelectOptions"
	  formControlName = "subAdministration"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "additionalMissionService" [id]="additionalMissionForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "additionalMissionForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

