
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'العلاوه التشجيعيه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنه منح العلاوه</mat-label>
	 <input matInput
	  [matDatepicker] = "grantedYearDatepicker"
	  autocomplete = "off"
	  formControlName= "grantedYear"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="grantedYearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #grantedYearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('grantedYear').invalid" >
	  {{ getControls('grantedYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم القرار</mat-label>
	 <input matInput formControlName="decisionNumber"/>
	 <mat-error *ngIf = "getControls('decisionNumber').invalid" >
	  {{ getControls('decisionNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ القرار</mat-label>
	 <input matInput
	  [matDatepicker] = "decisionDateDatepicker"
	  autocomplete = "off"
	  formControlName= "decisionDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="decisionDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #decisionDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('decisionDate').invalid" >
	  {{ getControls('decisionDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ اعتماد اللجنه</mat-label>
	 <input matInput
	  [matDatepicker] = "committeeAcceptedDateDatepicker"
	  autocomplete = "off"
	  formControlName= "committeeAcceptedDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="committeeAcceptedDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #committeeAcceptedDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('committeeAcceptedDate').invalid" >
	  {{ getControls('committeeAcceptedDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #jobGroup 
	  [options] = "jobGroupSelectOptions"
	  formControlName = "jobGroup"
	></app-material-select>

	<app-material-select appearance="outline"
	  #jobTitle 
	  [options] = "jobTitleSelectOptions"
	  formControlName = "jobTitle"
	></app-material-select>

	<app-material-select appearance="outline"
	  #financialDegree 
	  [options] = "financialDegreeSelectOptions"
	  formControlName = "financialDegree"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getIncentiveBonusPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
