
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'كلمة سر للمهندس المشرف'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "passwordForTheSupervisorEngineerForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>رقم المهندس المختص</mat-label>
	 <input matInput formControlName="specializedEngineerNumber"/>
	 <mat-error *ngIf = "getControls('specializedEngineerNumber').invalid" >
	  {{ getControls('specializedEngineerNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كلمة المرور</mat-label>
	 <input matInput formControlName="password"/>
	 <mat-error *ngIf = "getControls('password').invalid" >
	  {{ getControls('password')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "passwordForTheSupervisorEngineerService" [id]="passwordForTheSupervisorEngineerForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="passwordForTheSupervisorEngineerForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

