
<mat-card>
    <mat-card-header>
        <mat-card-title>اكواد الخدمات</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="serviceCodesForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود الخدمة</mat-label>
	 <input matInput formControlName="serviceCode"/>
	 <mat-error *ngIf = "getControls('serviceCode').invalid" >
	  {{ getControls('serviceCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>توصيف الخدمة</mat-label>
	 <input matInput formControlName="serviceConfiguration"/>
	 <mat-error *ngIf = "getControls('serviceConfiguration').invalid" >
	  {{ getControls('serviceConfiguration')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "serviceCodesService" [id]="serviceCodesForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "serviceCodesForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

