
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'اكواد صندوق التكافل الاجتماعي'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>نوع الكود</mat-label>
	 <input matInput formControlName="codeType"/>
	 <mat-error *ngIf = "getControls('codeType').invalid" >
	  {{ getControls('codeType')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود البيان</mat-label>
	 <input matInput formControlName="statementCode"/>
	 <mat-error *ngIf = "getControls('statementCode').invalid" >
	  {{ getControls('statementCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getSocialSolidarityFundCodesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
