
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'بيانات المعامل بالمدرسة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "schoolLabForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المعمل</mat-label>
	 <input matInput formControlName="laboratoryNumber"/>
	 <mat-error *ngIf = "getControls('laboratoryNumber').invalid" >
	  {{ getControls('laboratoryNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #buildingType 
	  [options] = "buildingTypeSelectOptions"
	  formControlName = "buildingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #areaCode 
	  [options] = "areaCodeSelectOptions"
	  formControlName = "areaCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #laboratoryType 
	  [options] = "laboratoryTypeSelectOptions"
	  formControlName = "laboratoryType"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "schoolLabService" [id]="schoolLabForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="schoolLabForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

