
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات اساسيه لادارات الهيئه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم تليفون الغرفه</mat-label>
	 <input matInput formControlName="roomPhoneNumber"/>
	 <mat-error *ngIf = "getControls('roomPhoneNumber').invalid" >
	  {{ getControls('roomPhoneNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الجهاز</mat-label>
	 <input matInput formControlName="deviceNumber"/>
	 <mat-error *ngIf = "getControls('deviceNumber').invalid" >
	  {{ getControls('deviceNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>جهه الصنع</mat-label>
	 <input matInput formControlName="manufacturer"/>
	 <mat-error *ngIf = "getControls('manufacturer').invalid" >
	  {{ getControls('manufacturer')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ بدايه التشغيل</mat-label>
	 <input matInput
	  [matDatepicker] = "startDateDatepicker"
	  autocomplete = "off"
	  formControlName= "startDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="startDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #startDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('startDate').invalid" >
	  {{ getControls('startDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الشركه المورده</mat-label>
	 <input matInput formControlName="supplierCompany"/>
	 <mat-error *ngIf = "getControls('supplierCompany').invalid" >
	  {{ getControls('supplierCompany')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #branchCodeorAdministration 
	  [options] = "branchCodeorAdministrationSelectOptions"
	  formControlName = "branchCodeorAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #areaCode 
	  [options] = "areaCodeSelectOptions"
	  formControlName = "areaCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #equimentType 
	  [options] = "equimentTypeSelectOptions"
	  formControlName = "equimentType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #deviceType 
	  [options] = "deviceTypeSelectOptions"
	  formControlName = "deviceType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #warrantyperiod 
	  [options] = "warrantyperiodSelectOptions"
	  formControlName = "warrantyperiod"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getMasterFilesDepartmentPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
