
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'الموظفين الذين لهم تصويب'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "employeesWhoHaveCorrectionForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>شهروسنه الوارد</mat-label>
	 <input matInput
	  [matDatepicker] = "incomingYearAndMonthDatepicker"
	  autocomplete = "off"
	  formControlName= "incomingYearAndMonth"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="incomingYearAndMonthDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #incomingYearAndMonthDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('incomingYearAndMonth').invalid" >
	  {{ getControls('incomingYearAndMonth')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>بيان الموظف</mat-label>
	 <input matInput formControlName="employeeDate"/>
	 <mat-error *ngIf = "getControls('employeeDate').invalid" >
	  {{ getControls('employeeDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #entryType 
	  [options] = "entryTypeSelectOptions"
	  formControlName = "entryType"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "employeesWhoHaveCorrectionService" [id]="employeesWhoHaveCorrectionForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="employeesWhoHaveCorrectionForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

