
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'الموقع العام '"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>النوعية</mat-label>
	 <input matInput formControlName="type"/>
	 <mat-error *ngIf = "getControls('type').invalid" >
	  {{ getControls('type')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #sectionCode 
	  [options] = "sectionCodeSelectOptions"
	  formControlName = "sectionCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #branchCode 
	  [options] = "branchCodeSelectOptions"
	  formControlName = "branchCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #mainRoadTypeCode 
	  [options] = "mainRoadTypeCodeSelectOptions"
	  formControlName = "mainRoadTypeCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #mainRoadStatusCode 
	  [options] = "mainRoadStatusCodeSelectOptions"
	  formControlName = "mainRoadStatusCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getGeneralLocationPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
