
<mat-card>
    <mat-card-header>
        <mat-card-title>بيانات اجزاء مجموعة</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="groupDetailsDataForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>رقم المناقصة</mat-label>
	 <input matInput formControlName="bidNumber"/>
	 <mat-error *ngIf = "getControls('bidNumber').invalid" >
	  {{ getControls('bidNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المشروع / المجموعة</mat-label>
	 <input matInput formControlName="group"/>
	 <mat-error *ngIf = "getControls('group').invalid" >
	  {{ getControls('group')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مدة التنفيذ بالشهور</mat-label>
	 <input matInput formControlName="durationImplementationInMonths"/>
	 <mat-error *ngIf = "getControls('durationImplementationInMonths').invalid" >
	  {{ getControls('durationImplementationInMonths')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #buildingType 
	  [options] = "buildingTypeSelectOptions"
	  formControlName = "buildingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringType 
	  [options] = "offeringTypeSelectOptions"
	  formControlName = "offeringType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #educationalAdministration 
	  [options] = "educationalAdministrationSelectOptions"
	  formControlName = "educationalAdministration"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "groupDetailsDataService" [id]="groupDetailsDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "groupDetailsDataForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

