
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'ادخال مبالغ السحب والايداع'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label> رقم الشيك </mat-label>
	 <input matInput formControlName="checkNumber"/>
	 <mat-error *ngIf = "getControls('checkNumber').invalid" >
	  {{ getControls('checkNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #entityCode 
	  [options] = "entityCodeSelectOptions"
	  formControlName = "entityCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #operationType 
	  [options] = "operationTypeSelectOptions"
	  formControlName = "operationType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getEnteringWithdrawalAndDepositAmountsPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
