
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'المدارس المغلقه على الطبيعه'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>الرقم التعريفى </mat-label>
	 <input matInput formControlName="iDNumber"/>
	 <mat-error *ngIf = "getControls('iDNumber').invalid" >
	  {{ getControls('iDNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>ملاحظات</mat-label>
	 <input matInput formControlName="notes"/>
	 <mat-error *ngIf = "getControls('notes').invalid" >
	  {{ getControls('notes')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #governorateCode 
	  [options] = "governorateCodeSelectOptions"
	  formControlName = "governorateCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #closureType 
	  [options] = "closureTypeSelectOptions"
	  formControlName = "closureType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #reasonsforclosure 
	  [options] = "reasonsforclosureSelectOptions"
	  formControlName = "reasonsforclosure"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getSchoolsClosedToNaturePaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
