
<mat-card>
    <mat-card-header>
        <mat-card-title>كود العنصر الانشائي</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="structuralComponentCodeForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>كود العنصر</mat-label>
	 <input matInput formControlName="elementCode"/>
	 <mat-error *ngIf = "getControls('elementCode').invalid" >
	  {{ getControls('elementCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم العنصر الانشائي</mat-label>
	 <input matInput formControlName="structuralElementName"/>
	 <mat-error *ngIf = "getControls('structuralElementName').invalid" >
	  {{ getControls('structuralElementName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "structuralComponentCodeService" [id]="structuralComponentCodeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "structuralComponentCodeForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

