
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'طلب خدمة جديد'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "newServicesRequestsForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الطلب</mat-label>
	 <input matInput
	  [matDatepicker] = "applicationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "applicationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="applicationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #applicationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('applicationDate').invalid" >
	  {{ getControls('applicationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المدرسة</mat-label>
	 <input matInput formControlName="schoolName"/>
	 <mat-error *ngIf = "getControls('schoolName').invalid" >
	  {{ getControls('schoolName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مساحة الارض</mat-label>
	 <input matInput formControlName="landArea"/>
	 <mat-error *ngIf = "getControls('landArea').invalid" >
	  {{ getControls('landArea')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>النسبة البنائية</mat-label>
	 <input matInput formControlName="structuralRatio"/>
	 <mat-error *ngIf = "getControls('structuralRatio').invalid" >
	  {{ getControls('structuralRatio')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>عدد الادوار</mat-label>
	 <input matInput formControlName="floorsNumber"/>
	 <mat-error *ngIf = "getControls('floorsNumber').invalid" >
	  {{ getControls('floorsNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الايصال</mat-label>
	 <input matInput formControlName="receiptNumber"/>
	 <mat-error *ngIf = "getControls('receiptNumber').invalid" >
	  {{ getControls('receiptNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الايصال</mat-label>
	 <input matInput
	  [matDatepicker] = "receiptDateDatepicker"
	  autocomplete = "off"
	  formControlName= "receiptDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="receiptDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #receiptDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('receiptDate').invalid" >
	  {{ getControls('receiptDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المبنى</mat-label>
	 <input matInput formControlName="buildingCode"/>
	 <mat-error *ngIf = "getControls('buildingCode').invalid" >
	  {{ getControls('buildingCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الطلب</mat-label>
	 <input matInput formControlName="orderNumber"/>
	 <mat-error *ngIf = "getControls('orderNumber').invalid" >
	  {{ getControls('orderNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #entityName 
	  [options] = "entityNameSelectOptions"
	  formControlName = "entityName"
	></app-material-select>

	<app-material-select appearance="outline"
	  #governorate 
	  [options] = "governorateSelectOptions"
	  formControlName = "governorate"
	></app-material-select>

	<app-material-select appearance="outline"
	  #centerOrSection 
	  [options] = "centerOrSectionSelectOptions"
	  formControlName = "centerOrSection"
	></app-material-select>

	<app-material-select appearance="outline"
	  #serviceType 
	  [options] = "serviceTypeSelectOptions"
	  formControlName = "serviceType"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "newServicesRequestsService" [id]="newServicesRequestsForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="newServicesRequestsForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

