
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'ادخال بيانات استماره129 مكافات علي مستوي اداره'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>رقم الوارد</mat-label>
	 <input matInput formControlName="incomingNumber"/>
	 <mat-error *ngIf = "getControls('incomingNumber').invalid" >
	  {{ getControls('incomingNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>شهر</mat-label>
	 <input matInput
	  [matDatepicker] = "monthDatepicker"
	  autocomplete = "off"
	  formControlName= "month"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="monthDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #monthDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('month').invalid" >
	  {{ getControls('month')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المكافاه</mat-label>
	 <input matInput formControlName="bonusCode"/>
	 <mat-error *ngIf = "getControls('bonusCode').invalid" >
	  {{ getControls('bonusCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>شهر وسنه المكافاه</mat-label>
	 <input matInput
	  [matDatepicker] = "monthAndYearBonusDatepicker"
	  autocomplete = "off"
	  formControlName= "monthAndYearBonus"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="monthAndYearBonusDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #monthAndYearBonusDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('monthAndYearBonus').invalid" >
	  {{ getControls('monthAndYearBonus')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getDataEntryForm129BonusesAtTheManagementLevelPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
