
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "' صيانه الابنيه التعلميه-حركة دورات المياه الجاهزه'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "maintenanceOfEducationalBuildingsListOfReadyToiletForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الطلب</mat-label>
	 <input matInput
	  [matDatepicker] = "orderDateDatepicker"
	  autocomplete = "off"
	  formControlName= "orderDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="orderDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #orderDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('orderDate').invalid" >
	  {{ getControls('orderDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود  دوره المياه</mat-label>
	 <input matInput formControlName="toiletCode"/>
	 <mat-error *ngIf = "getControls('toiletCode').invalid" >
	  {{ getControls('toiletCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المدرسه المطلوب النقل منها </mat-label>
	 <input matInput formControlName="fromSchool"/>
	 <mat-error *ngIf = "getControls('fromSchool').invalid" >
	  {{ getControls('fromSchool')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المدرسه المطلوب النقل  اليها  </mat-label>
	 <input matInput formControlName="toSchool"/>
	 <mat-error *ngIf = "getControls('toSchool').invalid" >
	  {{ getControls('toSchool')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #fromGovernment 
	  [options] = "fromGovernmentSelectOptions"
	  formControlName = "fromGovernment"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "maintenanceOfEducationalBuildingsListOfReadyToiletService" [id]="maintenanceOfEducationalBuildingsListOfReadyToiletForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="maintenanceOfEducationalBuildingsListOfReadyToiletForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

