
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'تكهين الاجهزة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "deviceCancellationForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>التاريخ</mat-label>
	 <input matInput
	  [matDatepicker] = "dateDatepicker"
	  autocomplete = "off"
	  formControlName= "date"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('date').invalid" >
	  {{ getControls('date')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم المدرسة</mat-label>
	 <input matInput formControlName="schoolName"/>
	 <mat-error *ngIf = "getControls('schoolName').invalid" >
	  {{ getControls('schoolName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المعمل</mat-label>
	 <input matInput formControlName="laboratoryNumber"/>
	 <mat-error *ngIf = "getControls('laboratoryNumber').invalid" >
	  {{ getControls('laboratoryNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم الجهاز</mat-label>
	 <input matInput formControlName="deviceNumber"/>
	 <mat-error *ngIf = "getControls('deviceNumber').invalid" >
	  {{ getControls('deviceNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "deviceCancellationService" [id]="deviceCancellationForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="deviceCancellationForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

