
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'المعوقات والاجرأت اللي تم اتخاذها'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>الرقم التعريفي</mat-label>
	 <input matInput formControlName="iD"/>
	 <mat-error *ngIf = "getControls('iD').invalid" >
	  {{ getControls('iD')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود المراجع</mat-label>
	 <input matInput formControlName="referencesCode"/>
	 <mat-error *ngIf = "getControls('referencesCode').invalid" >
	  {{ getControls('referencesCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم المقال</mat-label>
	 <input matInput formControlName="contractorCode"/>
	 <mat-error *ngIf = "getControls('contractorCode').invalid" >
	  {{ getControls('contractorCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #governorate 
	  [options] = "governorateSelectOptions"
	  formControlName = "governorate"
	></app-material-select>

	<app-material-select appearance="outline"
	  #referenceCode 
	  [options] = "referenceCodeSelectOptions"
	  formControlName = "referenceCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #executionCode 
	  [options] = "executionCodeSelectOptions"
	  formControlName = "executionCode"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getObstaclesAndMeasuresTakenPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
