
<mat-card>
    <mat-card-header>
        <mat-card-title>نماذج المقايسة</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="assayModelForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>الكود</mat-label>
	 <input matInput formControlName="code"/>
	 <mat-error *ngIf = "getControls('code').invalid" >
	  {{ getControls('code')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>الاسم</mat-label>
	 <input matInput formControlName="name"/>
	 <mat-error *ngIf = "getControls('name').invalid" >
	  {{ getControls('name')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

	<app-material-select appearance="outline"
	  #modelType 
	  [options] = "modelTypeSelectOptions"
	  formControlName = "modelType"
	></app-material-select>

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "assayModelService" [id]="assayModelForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "assayModelForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

