
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'بيانات المقايسة'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "assayDataForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>رقم المقايسة</mat-label>
	 <input matInput formControlName="assayNumber"/>
	 <mat-error *ngIf = "getControls('assayNumber').invalid" >
	  {{ getControls('assayNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>مده التوريد</mat-label>
	 <input matInput formControlName="supplyingDuration"/>
	 <mat-error *ngIf = "getControls('supplyingDuration').invalid" >
	  {{ getControls('supplyingDuration')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #processingType 
	  [options] = "processingTypeSelectOptions"
	  formControlName = "processingType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringMethod 
	  [options] = "offeringMethodSelectOptions"
	  formControlName = "offeringMethod"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringTerms 
	  [options] = "offeringTermsSelectOptions"
	  formControlName = "offeringTerms"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "assayDataService" [id]="assayDataForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="assayDataForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

