
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'موقف استلام ارض فضاء'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "recordingThePositionOfReceivingASpaceLandForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>رقم الارض</mat-label>
	 <input matInput formControlName="landID"/>
	 <mat-error *ngIf = "getControls('landID').invalid" >
	  {{ getControls('landID')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الاخطار</mat-label>
	 <input matInput
	  [matDatepicker] = "notificationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "notificationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="notificationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #notificationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('notificationDate').invalid" >
	  {{ getControls('notificationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سعر المتر</mat-label>
	 <input matInput
	  [matDatepicker] = "materPriceDatepicker"
	  autocomplete = "off"
	  formControlName= "materPrice"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="materPriceDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #materPriceDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('materPrice').invalid" >
	  {{ getControls('materPrice')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #receivingPosition 
	  [options] = "receivingPositionSelectOptions"
	  formControlName = "receivingPosition"
	></app-material-select>

	<app-material-select appearance="outline"
	  #obstacleCode 
	  [options] = "obstacleCodeSelectOptions"
	  formControlName = "obstacleCode"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "recordingThePositionOfReceivingASpaceLandService" [id]="recordingThePositionOfReceivingASpaceLandForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="recordingThePositionOfReceivingASpaceLandForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

