
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "' لجان مرور المدارس الخاصة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>كود المدرسة</mat-label>
	 <input matInput formControlName="schoolCode"/>
	 <mat-error *ngIf = "getControls('schoolCode').invalid" >
	  {{ getControls('schoolCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ المرور</mat-label>
	 <input matInput
	  [matDatepicker] = "passageDateDatepicker"
	  autocomplete = "off"
	  formControlName= "passageDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="passageDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #passageDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('passageDate').invalid" >
	  {{ getControls('passageDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getPrivateSchoolTrafficCommitteesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
