
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'اعانات لورثه موظف'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "benefitsForTheHeirsOfAnEmployeeForm">
         

	<mat-form-field appearance="outline">
	 <mat-label> رقم الشيك </mat-label>
	 <input matInput formControlName="checkNumber"/>
	 <mat-error *ngIf = "getControls('checkNumber').invalid" >
	  {{ getControls('checkNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ الشيك </mat-label>
	 <input matInput
	  [matDatepicker] = "checkDateDatepicker"
	  autocomplete = "off"
	  formControlName= "checkDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="checkDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #checkDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('checkDate').invalid" >
	  {{ getControls('checkDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> مبلغ الشيك</mat-label>
	 <input matInput formControlName="checkAmount"/>
	 <mat-error *ngIf = "getControls('checkAmount').invalid" >
	  {{ getControls('checkAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  مبلغ الاعانة</mat-label>
	 <input matInput formControlName="subsidyAmount"/>
	 <mat-error *ngIf = "getControls('subsidyAmount').invalid" >
	  {{ getControls('subsidyAmount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم شيك الوريث</mat-label>
	 <input matInput formControlName="heirCheckNo"/>
	 <mat-error *ngIf = "getControls('heirCheckNo').invalid" >
	  {{ getControls('heirCheckNo')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ شيك وريث</mat-label>
	 <input matInput
	  [matDatepicker] = "heirCheckDateDatepicker"
	  autocomplete = "off"
	  formControlName= "heirCheckDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="heirCheckDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #heirCheckDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('heirCheckDate').invalid" >
	  {{ getControls('heirCheckDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> اسم الوريث</mat-label>
	 <input matInput formControlName="heirName"/>
	 <mat-error *ngIf = "getControls('heirName').invalid" >
	  {{ getControls('heirName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> المبلغ</mat-label>
	 <input matInput formControlName="amount"/>
	 <mat-error *ngIf = "getControls('amount').invalid" >
	  {{ getControls('amount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #subsidyType 
	  [options] = "subsidyTypeSelectOptions"
	  formControlName = "subsidyType"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "benefitsForTheHeirsOfAnEmployeeService" [id]="benefitsForTheHeirsOfAnEmployeeForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="benefitsForTheHeirsOfAnEmployeeForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

