<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle]="'بيانات ' + lookupLabel"
    (beginSearch)="onBeginSearch()"
    (create)="onCreate()"
>
    <ng-template searchFormContainer>
        <form [formGroup]="searchForm">
            <div class="row">
                <mat-form-field appearance="outline" class="column1">
                    <mat-label>كود {{ lookupLabel }}</mat-label>
                    <input matInput formControlName="code" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="column3">
                    <mat-label>أسم {{ lookupLabel }}</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
            </div>
        </form>
    </ng-template>

    <ng-template searchResultContainer>
        <app-grid-control
            #gridControl
            [rowDataService]="getLookupPaginatedSortedFiltered"
            [columnOptions]="columnOptions"
            [gridHeaderOptions]="gridHeaderOptions"
            [searchInput]="searchForm.value"
            (deleteRow)="onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel>
