
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات اسناد الاراضى للجان الرفع والمعاينة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ التشكيل</mat-label>
	 <input matInput
	  [matDatepicker] = "formationDateDatepicker"
	  autocomplete = "off"
	  formControlName= "formationDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="formationDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #formationDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('formationDate').invalid" >
	  {{ getControls('formationDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم اللجنة</mat-label>
	 <input matInput formControlName="committeeNumber"/>
	 <mat-error *ngIf = "getControls('committeeNumber').invalid" >
	  {{ getControls('committeeNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>رقم قطعة الارض</mat-label>
	 <input matInput formControlName="landNumber"/>
	 <mat-error *ngIf = "getControls('landNumber').invalid" >
	  {{ getControls('landNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>اسم قطعة الارض</mat-label>
	 <input matInput formControlName="landName"/>
	 <mat-error *ngIf = "getControls('landName').invalid" >
	  {{ getControls('landName')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ الاسناد</mat-label>
	 <input matInput
	  [matDatepicker] = "referenceDateDatepicker"
	  autocomplete = "off"
	  formControlName= "referenceDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="referenceDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #referenceDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('referenceDate').invalid" >
	  {{ getControls('referenceDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #committeeType 
	  [options] = "committeeTypeSelectOptions"
	  formControlName = "committeeType"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getLandAssignmentDataForLiftingAndInspectionCommitteesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
