
<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle] = "'بيانات الاستمرار للعاملين بالهيئة'"
    (beginSearch) = "onBeginSearch()"
    (create) = "onCreate()"
>
    <ng-template searchFormContainer >
        <form [formGroup] = "searchForm">
           

	<mat-form-field appearance="outline">
	 <mat-label>يوم الاستمرار</mat-label>
	 <input matInput
	  [matDatepicker] = "continueDayDatepicker"
	  autocomplete = "off"
	  formControlName= "continueDay"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="continueDayDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #continueDayDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('continueDay').invalid" >
	  {{ getControls('continueDay')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>كود الموظف</mat-label>
	 <input matInput formControlName="employeeCode"/>
	 <mat-error *ngIf = "getControls('employeeCode').invalid" >
	  {{ getControls('employeeCode')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
           

	<app-material-select appearance="outline"
	  #centralAdministration 
	  [options] = "centralAdministrationSelectOptions"
	  formControlName = "centralAdministration"
	></app-material-select>

	<app-material-select appearance="outline"
	  #subAdministration 
	  [options] = "subAdministrationSelectOptions"
	  formControlName = "subAdministration"
	></app-material-select>

        </form>
    </ng-template >
    <ng-template searchResultContainer >
        <app-grid-control
            #gridControl
            [rowDataService] = "getContinuityDataForAuthorityEmployeesPaginatedSortedFiltered"
            [columnOptions] = "columnOptions"
            [gridHeaderOptions] = "gridHeaderOptions"
            [searchInput] = "searchForm.value"
            (deleteRow) = "onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel >
