
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'الخطة الخمسية'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "fiveYearPlanForm">
         

	<mat-form-field appearance="outline">
	 <mat-label>الخطة الخمسية</mat-label>
	 <input matInput formControlName="fiveYearplan"/>
	 <mat-error *ngIf = "getControls('fiveYearplan').invalid" >
	  {{ getControls('fiveYearplan')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  سنة البداية </mat-label>
	 <input matInput
	  [matDatepicker] = "startYearDatepicker"
	  autocomplete = "off"
	  formControlName= "startYear"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="startYearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #startYearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('startYear').invalid" >
	  {{ getControls('startYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنة النهاية</mat-label>
	 <input matInput
	  [matDatepicker] = "endYearDatepicker"
	  autocomplete = "off"
	  formControlName= "endYear"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="endYearDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #endYearDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('endYear').invalid" >
	  {{ getControls('endYear')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  عدد المشاريع </mat-label>
	 <input matInput formControlName="projectsNumber"/>
	 <mat-error *ngIf = "getControls('projectsNumber').invalid" >
	  {{ getControls('projectsNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  عدد المشاريع الفعلي</mat-label>
	 <input matInput formControlName="actualProjectsNumber"/>
	 <mat-error *ngIf = "getControls('actualProjectsNumber').invalid" >
	  {{ getControls('actualProjectsNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> القيمة المقترحة</mat-label>
	 <input matInput formControlName="suggestedValue"/>
	 <mat-error *ngIf = "getControls('suggestedValue').invalid" >
	  {{ getControls('suggestedValue')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> قيمة الاعتماد</mat-label>
	 <input matInput formControlName="creditValue"/>
	 <mat-error *ngIf = "getControls('creditValue').invalid" >
	  {{ getControls('creditValue')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "fiveYearPlanService" [id]="fiveYearPlanForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="fiveYearPlanForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

