
<app-new-form-layout
    dir="rtl"
    (submitClicked) = "onSubmit()"
    (back) = "onBack()"
    [pageTitle] = "'متابعه الصيانه اليوميه'"
>
    <ng-template newFormContainer >
        <form [formGroup] = "followUpDailyMaintenanceForm">
         

	<mat-form-field appearance="outline">
	 <mat-label> رقم المبني التعليمي</mat-label>
	 <input matInput formControlName="buildingNumber"/>
	 <mat-error *ngIf = "getControls('buildingNumber').invalid" >
	  {{ getControls('buildingNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سنه الخطه</mat-label>
	 <input matInput
	  [matDatepicker] = "yearPlanDatepicker"
	  autocomplete = "off"
	  formControlName= "yearPlan"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="yearPlanDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #yearPlanDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('yearPlan').invalid" >
	  {{ getControls('yearPlan')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  مده التنفيذ العمليه</mat-label>
	 <input matInput formControlName="implementationDuration"/>
	 <mat-error *ngIf = "getControls('implementationDuration').invalid" >
	  {{ getControls('implementationDuration')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>  تاريخ تسليم موقع مخطط</mat-label>
	 <input matInput
	  [matDatepicker] = "plannerDeliveryDateDatepicker"
	  autocomplete = "off"
	  formControlName= "plannerDeliveryDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="plannerDeliveryDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #plannerDeliveryDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('plannerDeliveryDate').invalid" >
	  {{ getControls('plannerDeliveryDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ تسليم موقع فعلي</mat-label>
	 <input matInput
	  [matDatepicker] = "physicaldeliveryDateDatepicker"
	  autocomplete = "off"
	  formControlName= "physicaldeliveryDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="physicaldeliveryDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #physicaldeliveryDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('physicaldeliveryDate').invalid" >
	  {{ getControls('physicaldeliveryDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> رقم المناقصه</mat-label>
	 <input matInput formControlName="bidNumber"/>
	 <mat-error *ngIf = "getControls('bidNumber').invalid" >
	  {{ getControls('bidNumber')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ اخر متابعه</mat-label>
	 <input matInput
	  [matDatepicker] = "dateLastFollowDatepicker"
	  autocomplete = "off"
	  formControlName= "dateLastFollow"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="dateLastFollowDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #dateLastFollowDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('dateLastFollow').invalid" >
	  {{ getControls('dateLastFollow')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>المهندس المشرف</mat-label>
	 <input matInput formControlName="supervisingEngineer"/>
	 <mat-error *ngIf = "getControls('supervisingEngineer').invalid" >
	  {{ getControls('supervisingEngineer')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>نسبه انجاز</mat-label>
	 <input matInput formControlName="completionRate"/>
	 <mat-error *ngIf = "getControls('completionRate').invalid" >
	  {{ getControls('completionRate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>سبب التاخير</mat-label>
	 <input matInput formControlName="delayReason"/>
	 <mat-error *ngIf = "getControls('delayReason').invalid" >
	  {{ getControls('delayReason')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>تاريخ التسليم الابتدائي</mat-label>
	 <input matInput
	  [matDatepicker] = "primaryDeliveryDateDatepicker"
	  autocomplete = "off"
	  formControlName= "primaryDeliveryDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="primaryDeliveryDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #primaryDeliveryDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('primaryDeliveryDate').invalid" >
	  {{ getControls('primaryDeliveryDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label> تاريخ التسليم النهائي </mat-label>
	 <input matInput
	  [matDatepicker] = "finalDeliveryDateDatepicker"
	  autocomplete = "off"
	  formControlName= "finalDeliveryDate"/>
	 <mat-datepicker-toggle
	   matSuffix
	   [for]="finalDeliveryDateDatepicker"
	 ></mat-datepicker-toggle>
	 <mat-datepicker #finalDeliveryDateDatepicker></mat-datepicker>
	 <mat-error *ngIf = "getControls('finalDeliveryDate').invalid" >
	  {{ getControls('finalDeliveryDate')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
         

	<app-material-select appearance="outline"
	  #branchNumber 
	  [options] = "branchNumberSelectOptions"
	  formControlName = "branchNumber"
	></app-material-select>

	<app-material-select appearance="outline"
	  #regionCode 
	  [options] = "regionCodeSelectOptions"
	  formControlName = "regionCode"
	></app-material-select>

	<app-material-select appearance="outline"
	  #constructionType 
	  [options] = "constructionTypeSelectOptions"
	  formControlName = "constructionType"
	></app-material-select>

	<app-material-select appearance="outline"
	  #offeringType 
	  [options] = "offeringTypeSelectOptions"
	  formControlName = "offeringType"
	></app-material-select>

        </form>

        <mat-divider></mat-divider>

		<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "followUpDailyMaintenanceService" [id]="followUpDailyMaintenanceForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="followUpDailyMaintenanceForm.invalid"
                mat-raised-button
                color = "primary">
             حفظ
            </button>
        </mat-card-actions>
    </ng-template >
</app-new-form-layout >

