
<mat-card>
    <mat-card-header>
        <mat-card-title>قيمة الاشتراك حسب السن</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="subscriptionValueByAgeGForm" class="form-container">
          

	<mat-form-field appearance="outline">
	 <mat-label>السن</mat-label>
	 <input matInput formControlName="age"/>
	 <mat-error *ngIf = "getControls('age').invalid" >
	  {{ getControls('age')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
	 <mat-label>القيمه</mat-label>
	 <input matInput formControlName="amount"/>
	 <mat-error *ngIf = "getControls('amount').invalid" >
	  {{ getControls('amount')| getErrorMessages : errorMessages}}
	  </mat-error>
	</mat-form-field>
          

        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

	<mat-card-actions>
			<form [formGroup]="attachmentForm" class="form-container">
                <app-multi-file-upload [service] = "subscriptionValueByAgeGService" [id]="subscriptionValueByAgeGForm.get('id').value"
                    formControlName = "attachmentFiles">
                </app-multi-file-upload>
            </form>
            <button
                color = "primary"
                type = "submit"
                (click) = "onSubmit()"
                [disabled] = "subscriptionValueByAgeGForm.invalid"
                mat-raised-button>
                حفظ
            </button>
    </mat-card-actions>
</mat-card>

